
.list-feature-place{
  .list-feature-place-item{
    .list-feature-place-item-icon{
      color: #099544;
    }
    .list-feature-place-item-content{
      font-size: 14px;
      margin-right: 10px;
    }
  }
}
