<ul class="list-feature-place space-y-1!">
  <li class="list-feature-place-item space-x-2!">
    <fa-icon [icon]="faCircleCheck" class="list-feature-place-item-icon"></fa-icon>
    <span class="list-feature-place-item-content">Bay thẳng hàng không quốc gia Việt Nam – Vietnam Airlines</span>
  </li>
  <li class="list-feature-place-item space-x-2!">
    <fa-icon [icon]="faCircleCheck" class="list-feature-place-item-icon"></fa-icon>
    <span class="list-feature-place-item-content">Bay thẳng hàng không quốc gia Việt Nam – Vietnam Airlines</span>
  </li>
  <li class="list-feature-place-item space-x-2!">
    <fa-icon [icon]="faCircleCheck" class="list-feature-place-item-icon"></fa-icon>
    <span class="list-feature-place-item-content">Bay thẳng hàng không quốc gia Việt Nam – Vietnam Airlines</span>
  </li>
  <li class="list-feature-place-item space-x-2!">
    <fa-icon [icon]="faCircleCheck" class="list-feature-place-item-icon"></fa-icon>
    <span class="list-feature-place-item-content">Bay thẳng hàng không quốc gia Việt Nam – Vietnam Airlines</span>
  </li>
  <li class="list-feature-place-item space-x-2!">
    <fa-icon [icon]="faCircleCheck" class="list-feature-place-item-icon"></fa-icon>
    <span class="list-feature-place-item-content">Bay thẳng hàng không quốc gia Việt Nam – Vietnam Airlines</span>
  </li>
  <li class="list-feature-place-item space-x-2!">
    <fa-icon [icon]="faCircleCheck" class="list-feature-place-item-icon"></fa-icon>
    <span class="list-feature-place-item-content">Bay thẳng hàng không quốc gia Việt Nam – Vietnam Airlines</span>
  </li>
  <li class="list-feature-place-item space-x-2!">
    <fa-icon [icon]="faCircleCheck" class="list-feature-place-item-icon"></fa-icon>
    <span class="list-feature-place-item-content">Bay thẳng hàng không quốc gia Việt Nam – Vietnam Airlines</span>
  </li>
  <li class="list-feature-place-item space-x-2!">
    <fa-icon [icon]="faCircleCheck" class="list-feature-place-item-icon"></fa-icon>
    <span class="list-feature-place-item-content">Bay thẳng hàng không quốc gia Việt Nam – Vietnam Airlines</span>
  </li>
</ul>
