<div class="router-tour">
  <h1 class="router-tour-title">Tìm chuyến đi phù hợp với bạn tại đây!</h1>
  <ul class="routes-tab-tours">
    @for (tab of tabs; track tab.href) {
      <li
        class="routes-tab-tours-item"
        [routerLink]="tab.href"
        routerLinkActive="!font-bold !text-[#ed1d26] border-b-2 !border-b-[#ed1d26]"
        [routerLinkActiveOptions]="{ exact: true }">
        {{ tab.tabName }}
      </li>
    }
  </ul>
</div>

<!--=============================== OPTIONS TOUR =====================================-->
<div class="options-tour">
  <h1 class="text-[18px] !mt-[45px] !mb-[25px] font-bold!">Ngân sách bạn có</h1>
  <div class="options-items space-y-5!">
    <!--=============Chọn ngân sách===================-->
    <nz-slider
      [nzRange]="true"
      [nzMin]="0"
      [nzMax]="200000000"
      [nzStep]="1000000"
      [(ngModel)]="rangeValue"
      nzTooltipVisible="never">
    </nz-slider>

    <div class="font-bold text-center text-[16px]">
      {{ rangeValue[0] | number }} - {{ rangeValue[1] | number }} VNĐ
    </div>

    <!--============= Chọn điểm đi ===================-->
    <h1 class="text-[17px]">Chọn địa điểm</h1>
    <nz-select
      [(ngModel)]="departure"
      name="departure"
      class="w-full"
      nzPlaceHolder="Điểm đi">
      @for (data of dataStartingPointDomestic; track data.id) {
        <nz-option
          [nzLabel]="data.name"
          [nzValue]="data.locationId"></nz-option>
      }
    </nz-select>

    <!--============= Chọn điểm đến ===================-->
    <nz-select
      [(ngModel)]="destination"
      name="destination"
      class="w-full"
      nzPlaceHolder="Điểm đến">
      @for (data of dataStartingPointForeign; track data.id) {
        <nz-option
          [nzLabel]="data.name"
          [nzValue]="data.locationId"></nz-option>
      }
    </nz-select>

    <!--button search-->
    <button
      class="w-full !uppercase font-medium! text-lg!"
      nz-button
      nzType="primary"
      (click)="searchTour()">
      Tìm tour
    </button>
  </div>
</div>
