<div class="router-tour">
  <h1 class="router-tour-title !text-black">
    {{ getTrans('tab_domestic', 'title') }}!
  </h1>
  <ul class="routes-tab-tours">
    @for (tab of tabs; track tab.href) {
      <li
        class="routes-tab-tours-item"
        [routerLink]="tab.href"
        routerLinkActive="!font-medium !text-[#ed1d26] border-b-2 !border-b-[#ed1d26]"
        [routerLinkActiveOptions]="{ exact: true }">
        {{ tab.tabName }}
      </li>
    }
  </ul>
</div>

<!--=============================== OPTIONS TOUR =====================================-->
<div class="options-tour">
  <h1 class="text-[18px] !mt-[45px] !mb-[25px] !font-medium !text-black">
    {{ getTrans('tab_domestic', 'international_tours') }}
  </h1>
  <div class="options-items space-y-5!">
    <!--=============Chọn ngân sách===================-->
    <nz-slider
      [nzRange]="true"
      [nzMin]="0"
      [nzMax]="200000000"
      [nzStep]="1000000"
      [(ngModel)]="rangeValue"
      nzTooltipVisible="never">
    </nz-slider>

    <div class="font-medium text-center text-[16px]">
      {{ rangeValue[0] | number }} - {{ rangeValue[1] | number }} VNĐ
    </div>

    <!--============= Chọn điểm đi ===================-->
    <h1 class="text-[17px]">
      {{ getTrans('tab_domestic', 'location') }}
    </h1>
    <div class="!space-y-1">
      <p class="font-medium">{{ getTrans('tab_domestic', 'departure') }}</p>
      <nz-select
        [(ngModel)]="departure"
        name="departure"
        class="w-full"
        nzPlaceHolder="{{ getTrans('tab_domestic', 'departure') }}">
        @for (data of dataStartingPointDomestic; track data.id) {
          <nz-option
            [nzLabel]="data.name"
            [nzValue]="data.locationId"></nz-option>
        }
      </nz-select>
    </div>
    <!--============= Chọn điểm đến ===================-->
    <div class="!space-y-1">
      <p class="font-medium">{{ getTrans('tab_domestic', 'destination') }}</p>
      <nz-select
        [(ngModel)]="destination"
        name="destination"
        class="w-full"
        nzPlaceHolder="{{ getTrans('tab_domestic', 'destination') }}">
        @for (data of dataStartingPointForeign; track data.id) {
          <nz-option
            [nzLabel]="data.name"
            [nzValue]="data.locationId"></nz-option>
        }
      </nz-select>
    </div>
    <!--button search-->
    <div class="flex gap-5">
      <button
        class="!bg-[#ED1C24] w-full !py-[17px] !text-white font-medium! text-md! !flex !justify-center !items-center !rounded-md"
        nzType="text"
        nz-button
        (click)="resetFilters()">
        {{ getTrans('tab_domestic', 'reset_tour') }}
      </button>
      <button
        class="w-full !py-[18px] !text-white font-medium! text-md! !bg-[#0b9444] !flex !justify-center !items-center !rounded-md"
        nz-button
        nzType="primary"
        (click)="searchTour()">
        {{ getTrans('tab_domestic', 'find_tour') }}
      </button>
    </div>
  </div>
</div>
