<div class="cards-content-feature-domestic">
  @for (data of tours; track data.id) {
    <div class="card-content-feature-domestic-item">
      <div class="card-content-feature-domestic-item-image">
        <img
          src="https://hanoitourist.vn/sites/default/files/2025/02/w2-1715749810964.jpg"
          alt="" />
      </div>
      <div class="card-content-feature-domestic-item-info !space-y-2">
        <div class="card-content-feature-domestic-item-info-title !truncate">
          <div class="!runcate">{{ data.title }}</div>
        </div>
        <div class="star flex">
          @for (i of [1, 2, 3, 4, 5]; track i) {
            <fa-icon
              [icon]="faStar"
              [ngClass]="i <= data.star ? 'text-[#e5831e]' : 'text-gray-300'"
              class="mr-1"></fa-icon>
          }
        </div>
        <!--===== Ngày đi ======-->
        <div class="departureDate">
          <fa-icon [icon]="faCalendarDays" class="close-menu-icon"></fa-icon>
          Ngày đi: <span class="font-bold">3 ngày 2 đêm</span>
        </div>
        <!--===== Địa điểm đi ======-->
        <div class="place-price">
          <div class="place">
            <fa-icon [icon]="faLocationDot" class="close-menu-icon"></fa-icon>
            Từ:<span class="font-bold"> Hà Nội</span>
          </div>
          <div class="price">
            Giá từ:
            <br />
            <span class="text-[18px] font-bold price text-[#ef2061]">{{
              data.finalPrice
            }}</span>
          </div>
        </div>
        <div class="routes">
          <div class="feature-routes">
            <a href="">
              Điểm nổi bật
              <fa-icon [icon]="faAngleRight" class="close-menu-icon"></fa-icon>
            </a>
          </div>
          <div class="btn-detail">
            <button class="font-medium!">XEM CHI TIẾT</button>
          </div>
        </div>
      </div>
    </div>
  }
</div>
