<div class="min-h-screen flex flex-col">
  <header class="bg-white shadow-md">
    <div class="container-header flex items-center justify-between p-4">
      <div class="logo">
        <a href="/">
          <img src="/assets/logo_Web_HST_N_1.png" class="w-full" alt="Logo" />
        </a>
      </div>

      <div class="md:hidden menu-trigger">
        <button (click)="toggleMenu()" class="text-gray-800 focus:outline-none">
          <svg
            class="w-6 h-6"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16m-7 6h7"></path>
          </svg>
        </button>
      </div>

      <nav
        [ngClass]="{ block: isMenuOpen, hidden: !isMenuOpen }"
        class="absolute top-16 left-0 z-10 w-full bg-white shadow-md md:shadow-none md:static md:w-auto md:flex">
        <ul
          class="menu-items flex flex-col md:flex-row md:items-center md:space-x-4 p-4 md:p-0">
          <li>
            <a
              [routerLink]="['/introduce']"
              routerLinkActive="!text-[#ed1d26]"
              [routerLinkActiveOptions]="{ exact: true }"
              class="block py-2 text-[14px]">
              {{ 'menu.about' | translate }}
            </a>
          </li>
          <li>
            <a
              [routerLink]="['/tour-feature-domestic']"
              routerLinkActive="!text-[#ed1d26]"
              [routerLinkActiveOptions]="{ exact: true }"
              class="block py-2 text-[14px]">
              {{ 'menu.domestic_tours' | translate }}
            </a>
          </li>
          <li>
            <a
              [routerLink]="['/tour-feature-foreign']"
              routerLinkActive="!text-[#ed1d26]"
              [routerLinkActiveOptions]="{ exact: true }"
              class="block py-2 text-[14px]">
              {{ 'menu.international_tours' | translate }}
            </a>
          </li>
          <li>
            <a
              [routerLink]="['/private-group-tour']"
              routerLinkActive="!text-[#ed1d26]"
              [routerLinkActiveOptions]="{ exact: true }"
              class="block py-2 text-[14px]">
              {{ 'menu.private_group_tours' | translate }}
            </a>
          </li>
          <li>
            <a
              nz-dropdown
              nzTrigger="click"
              class="block py-2 text-[14px]"
              [nzDropdownMenu]="menu"
              [ngClass]="{ '!text-[#ed1d26]': isServiceActive }"
              [nzPlacement]="'bottomCenter'">
              {{ 'menu.services' | translate }}
              <fa-icon [icon]="faCaretDown" class="menu-icon"></fa-icon>
            </a>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul
                nz-menu
                class="grid grid-cols-2 max-w-[600px] rounded-md! !z-99999 !mt-5px md:mt-[10px]! p-2! gap-2">
                @for (data of dataVisaMenu; track $index) {
                  <li
                    nz-menu-item
                    [routerLink]="['/tab-service', data.visaServiceId]"
                    (click)="selectService(data.id)"
                    [ngClass]="{
                      'active-menu-item': selectedServiceId === data.id,
                    }">
                    {{ data.name }}
                  </li>
                }
              </ul>
            </nz-dropdown-menu>
          </li>
          <li>
            <a
              [routerLink]="['/contact-page']"
              routerLinkActive="!text-[#ed1d26]"
              [routerLinkActiveOptions]="{ exact: true }"
              class="block py-2 text-[14px]">
              {{ 'menu.contact' | translate }}
            </a>
          </li>
          <li class="mt-4 md:mt-0">
            <a
              nz-dropdown
              nzTrigger="click"
              [nzDropdownMenu]="language"
              class="flex items-center"
              [nzPlacement]="'bottomCenter'">
              <img
                [src]="'https://flagcdn.com/w40/' + selectedLang.flag + '.png'"
                width="20"
                alt="" />
              <fa-icon
                [icon]="faCaretDown"
                class="close-menu-icon !ml-2"></fa-icon>
            </a>
            <nz-dropdown-menu #language="nzDropdownMenu">
              <ul
                nz-menu
                class="grid grid-cols-2 max-w-[600px] rounded-md! !mt-5px md:mt-[10px]! p-2! gap-2">
                @for (lang of languages; track lang) {
                  <li nz-menu-item (click)="handleChangeLanguage(lang)">
                    <div
                      class="flex items-center justify-between w-full gap-2 text-[12px]">
                      <img
                        [src]="'https://flagcdn.com/w40/' + lang.flag + '.png'"
                        width="20"
                        alt="icon" />
                      <span>{{ lang.name }}</span>
                    </div>
                  </li>
                }
              </ul>
            </nz-dropdown-menu>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <main class="flex-1">
    <router-outlet></router-outlet>
  </main>

  @if (footerData) {
    <footer>
      <div class="footer !p-5 md:!px-[10%] lg:flex justify-between !space-y-7">
        <div class="travel-footer !space-y-3">
          <div class="travel-footer-logo">
            <a href="">
              <img src="/assets/logo_Web_HST_N_1.png" width="150" alt="" />
            </a>
          </div>
          <div class="travel-footer-description !text-[20px] font-medium">
            {{ footerData.company }}
          </div>
          <div class="travel-footer-partners !text-[16px] !w-[600px]">
            {{ footerData.address }}
          </div>
          <div class="tax-code">
            <span>Taxt code:</span>
            <span class="!ml-1">{{ footerData.taxCode }}</span>
          </div>
          <div class="license-no">
            <span>License No:</span>
            <span class="!ml-1">{{ footerData.licenseNumber }}</span>
          </div>
        </div>
        <!--========================= Contact =========================-->
        <div class="travel-footer-contact space-y-2!">
          <div class="travel-footer-contact-title">
            <h1>Connect With Us</h1>
          </div>
          <div class="travel-footer-contact-content space-y-3!">
            <div class="travel-footer-contact-contact">
              <div class="font-semibold text-lg">{{ footerData.name }}</div>
              <div class="text-sm text-gray-600 italic">
                {{ footerData.position }}
              </div>
            </div>
            <div class="flex items-center gap-2">
              <fa-icon
                [icon]="faEnvelope"
                class="text-xl text-[#e93d47]"></fa-icon>
              <span>{{ footerData.email }}</span>
            </div>
            <div class="zalo-whatsapp">
              <fa-icon
                [icon]="faPhone"
                class="text-xl text-[#2D72D9]"></fa-icon>
              <span class="!ml-2">Zalo / Whatsapp</span>
              <span class="!ml-2">
                <span class="font-medium">{{ footerData.mobileNumber }}</span>
                <span class="mx-2!">/</span>
                <span class="font-medium">{{ footerData.whatsappNumber }}</span>
              </span>
            </div>
            <div class="website">
              <fa-icon
                [icon]="faEarthAsia"
                class="text-xl text-[#25D366]"></fa-icon>
              <a class="!ml-2 !text-black">{{ footerData.website }}</a>
            </div>
            <div class="internet-app flex items-center gap-3">
              <p class="flex items-center gap-1">
                <fa-icon
                  [icon]="faFacebook"
                  class="text-xl text-[#1773ea]"></fa-icon>
                <span>Facebook</span>
              </p>
              <p class="flex items-center gap-1">
                <a
                  href="https://zalo.me/your_zalo_id"
                  target="_blank"
                  title="Zalo">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-5 h-5 fill-current text-blue-500"
                    viewBox="0 0 48 48">
                    <image
                      href="https://upload.wikimedia.org/wikipedia/commons/9/91/Icon_of_Zalo.svg"
                      height="48"
                      width="48" />
                  </svg>
                </a>
                <span>Zalo</span>
              </p>
              <p class="flex items-center gap-1">
                <fa-icon
                  [icon]="faWhatsapp"
                  class="text-xl text-[#41c051]"></fa-icon>
                <span>Whatsapp</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  }
</div>
