<form [formGroup]="tourForm" nz-form>
  <nz-form-item>
    <nz-form-label nzRequired nzSpan="24">Dịch vụ bao gồm</nz-form-label>
    <nz-form-control [nzErrorTip]="service | appValidationMessage">
      <app-ckeditor-wrapper formControlName="service"></app-ckeditor-wrapper>
    </nz-form-control>
  </nz-form-item>

  <hr class="!mt-8 !mb-5" />

  <nz-form-item>
    <nz-form-label nzRequired nzSpan="24">Không bao gồm</nz-form-label>
    <nz-form-control [nzErrorTip]="nonService | appValidationMessage">
      <app-ckeditor-wrapper formControlName="nonService"></app-ckeditor-wrapper>
    </nz-form-control>
  </nz-form-item>
</form>
