<!-- Chat Box Icon -->
<div>
  <div
    id="chat-icon"
    (mousedown)="toggleChat()"
    class="cursor-pointer fixed bottom-5 right-5 w-[60px] h-[60px] z-50 rounded-full bg-[#25D366] flex items-center justify-center shadow-lg hover:scale-110 transition-transform duration-300 ease-in-out animate-bounce">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg"
      alt="Chat Icon"
      class="!w-[40px] !h-[40px]" />
  </div>

  <!-- Chat Popup -->
  @if (isChatOpen) {
    <div
      id="chat-popup"
      class="!z-9999 !fixed !bottom-[110px] !right-[30px] !w-[320px] !h-[400px] !bg-white !rounded-md !shadow-md !overflow-y-auto !p-3">
      <div class="!bg-[#DCF8C6] !p-2 !rounded-[10px] !mb-2 !text-black">
        Xin chào! 👋 Chúng tôi là HappySmile. Bạn cần hỗ trợ gì hôm nay?
      </div>
      <div class="!bg-[#DCF8C6] !p-[10px] !rounded-sm !mb-[10px] !text-black">
        Hãy click link bên dưới để chat với chúng tôi qua WhatsApp nhé!
      </div>
      <a
        href="https://wa.me/+84912883347?text=Xin%20ch%C3%A0o%2C%20t%C3%B4i%20mu%E1%BB%91n%20h%E1%BB%97%20tr%E1%BB%A3%20t%E1%BB%AB%20HappySmiles"
        target="_blank"
        class="block !bg-[#25D366] !text-white !p-[10px] !text-center !rounded-sm !mt-[20px]">
        Chat chúng tôi với WhatsApp (+84 912 88 33 47)
      </a>
      <a
        href="https://wa.me/+84966788728?text=Xin%20ch%C3%A0o%2C%20t%C3%B4i%20mu%E1%BB%91n%20h%E1%BB%97%20tr%E1%BB%A3%20t%E1%BB%AB%20HappySmiles"
        target="_blank"
        style="
          display: block;
          background-color: #25d366;
          color: white;
          padding: 10px;
          text-align: center;
          border-radius: 5px;
          text-decoration: none;
          margin-top: 10px;
        ">
        Hoặc chat với số (+84 966 788 728)
      </a>
    </div>
  }
</div>
