<section class="introduce">
  <!-- =======================introduce service======================= -->
  @for (data of dataBannerIntroduce; track data.id) {
    @for (image of data.documentDTOS; track image.id) {
      <div
        class="banner-introduce-service"
        [ngStyle]="{ 'background-image': 'url(' + image.storagePath + ')' }"
        style="
          width: auto;
          height: 480px;
          background-position: center;
          background-size: cover;
        ">
        <div
          class="flex flex-col justify-center items-center h-full text-white bg-black/10">
          <div class="">{{ data.title }}</div>
        </div>
      </div>
    }
  }
  <div class="main-content">
    <div class="why-choose-us">
      <div class="why-choose-us-title">
        {{ dataTitleIntroducePage[0]?.title }}
      </div>
      <div
        class="why-choose-us-items grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5">
        @for (data of dataServiceIntroduce; track data.id) {
          <div class="item">
            <div class="icon">
              <img [src]="data.title" width="80px" alt="" />
            </div>
            <div class="content">
              {{ data.description }}
            </div>
          </div>
        }
      </div>
    </div>
    <!--  ======================= service-text-intro ======================= -->
    <div class="service-introduce">
      @for (data of dataContentIntroducePage; track data.id) {
        <div
          class="quote-heading !text-center relative text-[#4d4c4c] inline-block text-[33px] font-bold leading-tight">
          {{ data.title }}
        </div>
        <div class="service-introduce-cotent">
          {{ data.description }}
        </div>
      }
    </div>
    <!--  ======================= partners ======================= -->
    <div class="partners">
      <div class="partners-title">{{ dataTitleIntroducePage[1]?.title }}</div>
      <div
        class="partners-cards grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 !mt-10">
        @for (data of dataStatisticalIntroducePage; track data.id) {
          <div class="item">
            <div class="text-xl font-semibold text-blue-700">
              {{ data.title }}
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</section>
