<section class="introduce">
  <!-- ======================= Banner giới thiệu ======================= -->
  @for (data of dataBannerIntroduce; track data.id) {
    @for (image of data.images; track image.id) {
      <div
        class="banner-introduce-service"
        [ngStyle]="{
          'background-image': 'url(' + formatImage(image.storagePath) + ')',
        }"
        style="
          width: auto;
          height: 480px;
          background-position: center;
          background-size: cover;
        ">
        <div
          class="flex flex-col justify-center items-center text-center h-full text-white bg-black/10">
          <div
            class="text-[45px] font-bold"
            [innerHTML]="data?.title | safeHtml"></div>
        </div>
      </div>
    }
  }
  <!-- ======================= Nội dung dưới Banner ======================= -->
  <div class="main-content">
    <div class="why-choose-us">
      <div class="why-choose-us-title">
        {{ dataTitleIntro[0]?.title }}
      </div>
      <!-- ======================= Các dịch vụ  ======================= -->
      <div
        class="why-choose-us-items grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5">
        @for (data of dataServiceIntroduce; track data.id) {
          <div class="item">
            <div class="icon">
              <img
                [src]="formatImage(data.image.storagePath)"
                width="80px"
                alt="" />
            </div>
            <div
              class="content text-justify"
              [innerHTML]="data.title | safeHtml"></div>
          </div>
        }
      </div>
    </div>
    <!--  ======================= Văn bản giới thiệu ======================= -->
    <div class="service-introduce">
      @for (data of dataIntroPage; track data.id) {
        <div
          class="text-[24px] font-medium text-[#ef1f28]"
          [innerHTML]="data.title | safeHtml"></div>
        <div
          class="service-introduce-content text-justify"
          [innerHTML]="data.description | safeHtml"></div>
      }
    </div>
    <!--  ======================= Số liệu thống kế ======================= -->
    <div class="partners">
      <div class="partners-title">{{ dataTitleIntro[1]?.title }}</div>
      <div
        class="partners-cards grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 !mt-10">
        @for (data of dataStatistical; track data.id) {
          <div class="item">
            <div class="text-4xl font-semibold text-[#ef1f28]">
              {{ data.title }}
            </div>
            <div class="mt-5! text-[#6f6f6f] text-md font-bold">
              {{ data.description }}
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</section>
