<nz-layout>
  <nz-sider
    nzCollapsible
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
    nzWidth="256px"
    nzBreakpoint="md"
    nzTheme="light"
    (nzCollapsedChange)="onCollapse($event)">
    @if (!isCollapsed) {
      <div class="w-40">
        <img src="/assets/logo_Web_HST_N_1.png" alt="logo" />
      </div>
    }
    <ul nz-menu nzTheme="light" nzMode="inline">
      <li nz-menu-item nzMatchRouter [routerLink]="['/', 'admin', 'dashboard']">
        <nz-icon class="!mr-2" nzType="dashboard" />
        <span>Dashboard</span>
      </li>
      <li
        nz-menu-item
        nzMatchRouter
        [routerLink]="['/', 'admin', 'home-config']">
        <nz-icon class="!mr-2" nzType="home" />
        <span>Cấu hình nội dung</span>
      </li>
      <li
        nz-menu-item
        nzMatchRouter
        [routerLink]="['/', 'admin', 'tour-config']">
        <nz-icon class="!mr-2" nzType="car" />
        <span>Cấu hình tour</span>
      </li>
      <li
        nz-menu-item
        nzMatchRouter
        [routerLink]="['/', 'admin', 'service-config']">
        <nz-icon class="!mr-2" nzType="customer-service" />
        <span>Cấu hình dịch vụ</span>
      </li>
      <li
        nz-menu-item
        nzMatchRouter
        [routerLink]="['/', 'admin', 'location-config']">
        <nz-icon class="!mr-2" nzType="flag" />
        <span>Cấu hình địa điểm</span>
      </li>
      <li
        nz-menu-item
        nzMatchRouter
        [routerLink]="['/', 'admin', 'blog-config']">
        <nz-icon class="!mr-2" nzType="form" />
        <span>Bài viết</span>
      </li>
      <li
        nz-menu-item
        nzMatchRouter
        [routerLink]="['/', 'admin', 'language-config']">
        <nz-icon class="!mr-2" nzType="global" />
        <span>Ngôn ngữ</span>
      </li>
      <li
        nz-menu-item
        nzMatchRouter
        [routerLink]="['/', 'admin', 'client-contact']">
        <nz-icon class="!mr-2" nzType="send" />
        <span>Form liên hệ</span>
      </li>
      <li
        nz-menu-item
        nzMatchRouter
        [routerLink]="['/', 'admin', 'client-comment']">
        <nz-icon class="!mr-2" nzType="comment" />
        <span>Đánh giá của khách hàng</span>
      </li>
    </ul>

    <div class="absolute bottom-0 left-0 w-full">
      <button nz-button class="!w-full !h-12" (click)="authService.logout()">
        <nz-icon nzType="logout" />
        @if (!isCollapsed) {
          <span>Đăng xuất</span>
        }
      </button>
    </div>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="flex gap-4 h-full items-center">
        <nz-icon
          class="trigger"
          [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          (click)="isCollapsed = !isCollapsed" />
        <app-breadcrumb-component></app-breadcrumb-component>
      </div>
    </nz-header>
    <nz-content class="p-4!">
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
