<nz-layout>
  <nz-sider
    [nzCollapsedWidth]="0"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
    nzWidth="256px"
    nzBreakpoint="md"
    nzTheme="light"
    (nzCollapsedChange)="onCollapse($event)">
    <div class="logo text-black font-bold md:text-center border">ADMIN</div>
    <ul nz-menu nzTheme="light" nzMode="inline">
      <li nz-menu-item nzMatchRouter>
        <nz-icon class="!mr-2" nzType="dashboard" />
        <a [routerLink]="['/', 'admin', 'dashboard']">Dashboard</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <nz-icon class="!mr-2" nzType="home" />
        <a [routerLink]="['/', 'admin', 'home-config']">Cấu hình trang chủ</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <nz-icon class="!mr-2" nzType="phone" />
        <a [routerLink]="['/', 'admin', 'contact-config']">Cấu hình liên hệ</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <nz-icon class="!mr-2" nzType="car" />
        <a [routerLink]="['/', 'admin', 'tour-config']">Cấu hình tour</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <nz-icon class="!mr-2" nzType="customer-service" />
        <a [routerLink]="['/', 'admin', 'service-config']">Cấu hình dịch vụ</a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="flex gap-4 h-full items-center">
        <nz-icon
          class="trigger"
          [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          (click)="isCollapsed = !isCollapsed" />
        <app-breadcrumb-component></app-breadcrumb-component>
      </div>
    </nz-header>
    <nz-content class="p-4!">
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
