<nz-tabs [nzTabBarExtraContent]="extraTemplate" nzLinkRouter>
  <nz-tab>
    <a
      *nzTabLink
      nz-tab-link
      [routerLink]="['.']"
      [class]="tourForm.invalid ? '!text-red-500' : ''"
      >Thông tin</a
    >
    <app-tour-form-info-tab
      [tourForm]="tourForm"
      [mode]="mode"></app-tour-form-info-tab>
  </nz-tab>
  <nz-tab>
    <a
      *nzTabLink
      nz-tab-link
      [routerLink]="['.']"
      [queryParams]="{ tab: 'schedule' }"
      queryParamsHandling="merge"
      [class]="scheduleForm.invalid ? '!text-red-500' : ''"
      >Lịch trình</a
    >
    <app-tour-form-schedule-tab
      [scheduleForm]="scheduleForm"
      [mode]="mode"></app-tour-form-schedule-tab>
  </nz-tab>
  <nz-tab>
    <a
      *nzTabLink
      nz-tab-link
      [routerLink]="['.']"
      [queryParams]="{ tab: 'price' }"
      queryParamsHandling="merge"
      [class]="priceForm.invalid ? '!text-red-500' : ''"
      >Bảng giá</a
    >
    <app-tour-form-pricing-tab
      [lang]="selectedLanguage"
      [priceForm]="priceForm"
      [mode]="mode"></app-tour-form-pricing-tab>
  </nz-tab>
  <nz-tab>
    <a
      *nzTabLink
      nz-tab-link
      [routerLink]="['.']"
      [queryParams]="{ tab: 'service' }"
      queryParamsHandling="merge"
      [class]="
        tourForm.get('service')?.invalid || tourForm.get('nonService')?.invalid
          ? '!text-red-500'
          : ''
      "
      >Dịch vụ</a
    >
    <app-tour-form-service-tab
      [tourForm]="tourForm"></app-tour-form-service-tab>
  </nz-tab>
</nz-tabs>

<ng-template #extraTemplate>
  <div class="flex gap-2 items-center">
    <div class="italic">
      @if (isOriginalTrans) {
        Bản gốc
      } @else {
        Bản dịch
      }
    </div>
    @if (mode === BaseFormMode.VIEW) {
      <button nz-button (click)="goTo(BaseFormMode.UPDATE)">Chỉnh sửa</button>
    } @else if (mode === BaseFormMode.CREATE) {
      <button nz-button (click)="submit()" [disabled]="tourForm.invalid">
        Tạo tour
      </button>
    } @else {
      <button nz-button (click)="submit()" [disabled]="tourForm.invalid">
        Lưu
      </button>
      <button nz-button (click)="goTo('update-trans')">
        Chỉnh sửa bản dịch
      </button>
    }
    @if (mode === BaseFormMode.VIEW) {
      <app-language-selection
        [(selectedLanguage)]="selectedLanguage"
        (selectedLanguageChange)="
          handleSelectedLanguageChange()
        "></app-language-selection>
    }
  </div>
</ng-template>
