<nz-tabs [nzTabBarExtraContent]="extraTemplate">
  <nz-tab nzTitle="Thông tin">
    <app-tour-form-info-tab
      [tourForm]="tourForm"
      [mode]="mode"></app-tour-form-info-tab>
  </nz-tab>
  <nz-tab nzTitle="Lịch trình">
    <app-tour-form-schedule-tab
      [scheduleForm]="scheduleForm"
      [mode]="mode"></app-tour-form-schedule-tab>
  </nz-tab>
  <nz-tab nzTitle="Bảng giá">
    <app-tour-form-pricing-tab
      [lang]="selectedLanguage"
      [priceForm]="priceForm"
      [mode]="mode"></app-tour-form-pricing-tab>
  </nz-tab>
  <nz-tab nzTitle="Dịch vụ">
    <app-tour-form-service-tab
      [tourForm]="tourForm"></app-tour-form-service-tab>
  </nz-tab>
</nz-tabs>

<ng-template #extraTemplate>
  <div class="flex gap-2 items-center">
    <div class="italic">
      @if (isOriginalTrans) {
        Bản gốc
      } @else {
        Bản dịch
      }
    </div>
    @if (mode === BaseFormMode.VIEW) {
      <button nz-button (click)="goTo(BaseFormMode.UPDATE)">Chỉnh sửa</button>
    } @else {
      <button nz-button (click)="submit()" [disabled]="tourForm.invalid">
        @if (mode === BaseFormMode.CREATE) {
          Tạo tour
        } @else {
          Cập nhật tour
        }
      </button>
    }
    @if (mode !== BaseFormMode.CREATE) {
      <app-language-selection
        [(selectedLanguage)]="selectedLanguage"
        (selectedLanguageChange)="
          handleSelectedLanguageChange()
        "></app-language-selection>
    }
  </div>
</ng-template>
