<div class="review-list bg-white rounded shadow !p-4 !mt-6">
  <div class="flex gap-2 !mb-5">
    <h1 class="w-[140px]">{{ 'tour_detail.filter_reviews_by' | translate }}</h1>
    <div class="flex gap-1 items-center mb-4 flex-wrap">
      @for (f of filters; track $index) {
        <button
          nz-button
          [nzType]="selectedFilter === f.key ? 'primary' : 'default'"
          class="w-[70px]"
          (click)="onFilter(f.key)">
          {{ f.label }}
        </button>
      }
    </div>
  </div>

  @for (review of filteredReviews; track $index) {
    <div class="border-b border-gray-200 !pb-4 !mb-4 last:border-none">
      <div
        class="flex items-start gap-5 grid grid-cols-1 md:grid-cols-[1fr_3fr]">
        <!-- Avatar -->
        <div class="flex gap-2 items-center">
          <nz-avatar
            class="mr-3"
            [nzText]="review.name?.charAt(0)?.toUpperCase()"
            [nzSrc]="review.imageUrl"
            [nzSize]="40"></nz-avatar>
          <div class="font-semibold text-gray-800 w-[160px]">
            {{ review.name }}
          </div>
        </div>

        <!-- Content -->
        <div>
          <nz-rate [ngModel]="review.rate" [nzDisabled]="true"></nz-rate>
          <!-- Tags -->
          <div class="!mt-1 flex gap-1 flex-wrap">
            @for (tag of review.tags; track $index) {
              <nz-tag [nzColor]="'#f0f0f0'" class="!text-black">
                {{ tag }}
              </nz-tag>
            }
          </div>
          <!-- Content -->
          <div class="!mt-2 text-gray-700">
            {{ review.content }}
          </div>
          <div class="text-gray-400 text-sm !mt-2">
            {{ review?.time | timeSince: 'DD/MM/YYYY' }}
          </div>
        </div>
      </div>
    </div>
  }
</div>
