.review-list {
  .ant-rate {
    font-size: 16px;
  }
  .ant-tag {
    border: none;
    background: #f0f0f0;
    padding: 2px 8px;
    margin-right: 4px;
    border-radius: 4px;
    font-size: 13px;
  }
}
.ant-btn-primary {
  background-color: #0b9444;
  border: none;
  font-weight: 500;
  color: #f6f5f5;
}
