<section>
  @for (data of dataBannerHome; track data.id) {
    <div class="relative h-[480px] overflow-hidden">
      <nz-carousel nzAutoPlay [nzDots]="false">
        @for (image of data.images; track image) {
          <div nz-carousel-content>
            <img
              class="w-full h-full"
              [ngSrc]="image.storagePath"
              alt="hero-banner"
              priority
              fill />
          </div>
        }
      </nz-carousel>

      <!-- Fixed content above carousel -->
      <div
        class="absolute inset-0 z-0 flex justify-center items-center text-white">
        <div class="text-center md:text-left !px-[8%]">
          <div
            class="text-[40px] md:text-[60px] text-white! font-bold"
            [innerHTML]="data?.title | safeHtml"></div>
          <div
            class="text-[20px]"
            [innerHTML]="data?.description | safeHtml"></div>
        </div>
      </div>
    </div>
  }

  <div class="!px-5 md:!px-[10%]">
    <!--  ========== Hoạt động nổi bật ==========    -->
    <div class="feature-action">
      <div class="slide-cards">
        <div class="slide-cards-title">{{ dataHomeTitle[0]?.title }}</div>
        <app-feature-action />
      </div>
    </div>

    <!--  ========== Tour trong nước ==========  -->
    <div class="domestic-tour">
      <div class="domestic-tour-slides">
        @if (dataHomeTitle) {
          <div class="domestic-tour-title !mr-10">
            {{ dataHomeTitle[1]?.title }}
          </div>
        }
        <div class="tabs-domestic-tour flex gap-4 flex-wrap">
          @for (item of tabsDomesticTour; track item) {
            <app-tabs-domestic-tour
              [tab]="item.name"
              [active]="selectedTabDomesticTour?.name === item.name"
              (tabChanged)="handleChangeDomesticTour($event)">
            </app-tabs-domestic-tour>
          }
        </div>
      </div>
      @if (selectedTabDomesticTour && dataTourDomestic?.length) {
        <div class="app-tour-feature-foreign">
          @if (selectedTabDomesticTour && dataTourDomestic?.length === 0) {
            <p>{{ getTrans('home', 'no_tour_found') }}</p>
          } @else {
            <app-tour-feature-domestic
              [selectedTabDomesticTour]="selectedTabDomesticTour"
              [dataDomesticTour]="dataTourDomestic">
              >
            </app-tour-feature-domestic>
          }
        </div>
      }
    </div>

    <!-- ========== Tour nước ngoài  ==========  -->
    <div class="foreign-tour">
      <div class="foreign-tour-slides">
        @if (dataHomeTitle) {
          <!-- Tiêu đề tour nước ngoài -->
          <div class="foreign-tour-title !mr-10">
            {{ dataHomeTitle[2]?.title }}
          </div>
        }
        <!-- Button tab tour nước ngoài -->
        <div class="tabs-foreign-tour flex gap-4 flex-wrap">
          @for (item of tabsForeignTour; track item) {
            <app-tabs-foreign-tour
              [tab]="item.name"
              [active]="selectedTabForeignTour?.name === item.name"
              (tabChanged)="handleChangeForeignTour($event)">
            </app-tabs-foreign-tour>
          }
        </div>
      </div>
      <!-- Nội dung của từng button tab tour nước ngoài -->
      @if (selectedTabForeignTour && dataTourForeign?.length) {
        <div class="app-tour-feature-foreign">
          @if (selectedTabForeignTour && dataTourForeign?.length === 0) {
            <p>{{ getTrans('home', 'no_tour_found') }}</p>
          } @else {
            <app-tour-feature-foreign
              [selectedTabForeignTour]="selectedTabForeignTour"
              [dataTour]="dataTourForeign">
            </app-tour-feature-foreign>
          }
        </div>
      }
    </div>

    <!--  ========== Cẩm nang du lịch ==========    -->
    <div class="travel-handbook">
      <div class="travel-handbook-title">{{ dataHomeTitle[3]?.title }}</div>
      <app-travel-handbook
        [featureNews]="featureNews"
        [featureLeftNews]="featureLeftNews"
        [featureRightNews]="featureRightNews">
      </app-travel-handbook>
    </div>

    <!--========== Khách hàng nói gì về chúng tôi ==========-->
    @if (dataCustomerFeedback) {
      <div class="customer-feedback">
        <div class="customer-feedback-title">{{ dataHomeTitle[4]?.title }}</div>
        <app-customer-feedback [dataCustomerFeedback]="dataCustomerFeedback">
        </app-customer-feedback>
      </div>
    }
    <!--========== Khách hàng tiêu biểu ==========-->
    @if (dataPartner) {
      <div class="feature-customer">
        <div class="feature-customer-title">{{ dataHomeTitle[5]?.title }}</div>
        <app-feature-customer
          [dataCustomerFeature]="dataPartner"></app-feature-customer>
      </div>
    }
  </div>
</section>
