<div class="flex gap-2 justify-between items-center !mb-2">
  <div class="italic text-gray-500 font-normal">
    {{ isOriginalLanguage ? '(Bản gốc)' : '(Bản dịch)' }}
  </div>
  <div class="flex gap-2">
    <!--    Input search   -->
    <app-header-input-search [(value)]="searchKey"></app-header-input-search>
    <!--    Select Language   -->
    <app-language-selection
      [(selectedLanguage)]="selectedLanguage"
      (selectedLanguageChange)="
        handleSelectedLanguageChange()
      "></app-language-selection>
    <!--    Button Add   -->
    <button nz-button (click)="openCreateOrUpdate()">
      <nz-icon nzType="plus" />
      Thêm mới
    </button>
  </div>
</div>

<app-table-base-component
  [data]="displayData"
  [columns]="columns"
  [loading]="loading"
  [(page)]="metaData.page"
  [(pageSize)]="metaData.pageSize"
  [total]="metaData.total"
  [frontPagination]="true"
  [scroll]="{ x: '800px', y: 'calc(100vh - 330px)' }"
  (rowDBClick)="openCreateOrUpdate($event)"></app-table-base-component>

<ng-template #actionCol let-value>
  <button nz-button (click)="handleDelete(value)">
    <nz-icon nzType="delete" />
  </button>
</ng-template>
