@if (scheduleFormTrans.value?.schedules?.length) {
  <div
    class="flex gap-5 justify-between overflow-auto"
    style="max-height: calc(100vh - 180px)">
    <div class="w-full">
      <div class="italic flex h-[32px] !mb-2">Bản gốc</div>
      <form [formGroup]="scheduleForm" nz-form class="form-view-mode">
        <div formArrayName="schedules">
          @for (
            schedule of schedules.controls;
            track schedule;
            let indexStep = $index
          ) {
            <nz-collapse nzExpandIconPosition="end">
              <nz-collapse-panel
                class="!mb-2"
                [nzHeader]="header"
                [nzActive]="true"
                [formGroupName]="indexStep">
                <div class="w-[800px]">
                  <app-ckeditor-wrapper
                    formControlName="description"></app-ckeditor-wrapper>
                </div>
                <ng-template #header>
                  <input
                    nz-input
                    formControlName="title"
                    placeholder="VD: Ngày 1"
                    (click)="$event.stopPropagation()"
                    class="w-full" />
                </ng-template>
              </nz-collapse-panel>
            </nz-collapse>
          }
        </div>
      </form>
    </div>
    <div class="border-l-1"></div>
    <div class="w-full">
      <div class="flex gap-2 justify-between h-[32px] !mb-2">
        <div class="italic">Bản dịch</div>
        <button
          nz-button
          [disabled]="scheduleFormTrans.invalid"
          (click)="saved.emit()">
          Lưu
        </button>
      </div>
      <form [formGroup]="scheduleFormTrans" nz-form class="form-view-mode">
        <div formArrayName="schedules">
          @for (
            schedule of schedules.controls;
            track schedule;
            let indexStep = $index
          ) {
            <nz-collapse nzExpandIconPosition="end">
              <nz-collapse-panel
                class="!mb-2"
                [nzHeader]="header"
                [nzActive]="true"
                [formGroupName]="indexStep">
                <div class="w-[800px]">
                  <app-ckeditor-wrapper
                    formControlName="description"></app-ckeditor-wrapper>
                </div>
                <ng-template #header>
                  <input
                    nz-input
                    formControlName="title"
                    placeholder="VD: Ngày 1"
                    (click)="$event.stopPropagation()"
                    class="w-full" />
                </ng-template>
              </nz-collapse-panel>
            </nz-collapse>
          }
        </div>
      </form>
    </div>
  </div>
}
