<section class="tab-tour-foreign-detail">
  @if (tourDetail) {
    <!--  =====================breadcrumb==========================-->
    <nz-breadcrumb nzSeparator=">" class="breadcrumb">
      <nz-breadcrumb-item>
        <a routerLink="/">{{ 'menu.home' | translate }}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a routerLink="/tour-feature-foreign" class="font-medium">{{
          'tour_detail.tour' | translate
        }}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item class="font-medium italic">{{
        tourDetail.title
      }}</nz-breadcrumb-item>
    </nz-breadcrumb>
    <!--  ====================content==========================-->
    <div class="tab-tour-foreign-detail-main-content">
      <div class="left-content">
        <app-slide-tour-detail
          [listImageBanner]="tourDetail"></app-slide-tour-detail>
        <div class="tour-detail-title">{{ tourDetail.title }}</div>
        <div class="tour-detail-title-tabs">
          <div
            class="tour-detail-title-tabs-title !hidden md:!flex border-b-1 !pb-2 border-[#ccc] sticky top-0 z-999 bg-white">
            <button
              (click)="scrollTo('diemNoiBat')"
              [class]="
                activeSection === 'diem-noi-bat' ? '!text-green-700' : ''
              ">
              {{ 'tour_detail.feature_place' | translate }}
            </button>
            <button
              (click)="scrollTo('lichTrinh')"
              [class]="activeSection === 'lich-trinh' ? '!text-green-700' : ''">
              {{ 'tour_detail.schedule' | translate }}
            </button>
            <button
              (click)="scrollTo('bangGia')"
              [class]="activeSection === 'bang-gia' ? '!text-green-700' : ''">
              {{ 'tour_detail.table' | translate }}
            </button>
            <button
              (click)="scrollTo('dichVu')"
              [class]="activeSection === 'dich-vu' ? '!text-green-700' : ''">
              {{ 'tour_detail.service_content' | translate }}
            </button>
          </div>
          <div class="tour-detail-title-tabs-content">
            <!-- ===================ĐIỂM NỔI BẬT========================= -->
            @if (tourDetail.highlight) {
              <div #diemNoiBat id="diem-noi-bat" class="tab">
                <div class="tab-title">
                  {{ 'tour_detail.feature_place' | translate }}
                </div>
                <app-feature-place [highlight]="tourDetail.highlight">
                </app-feature-place>
              </div>
            }
            <!-- ======================LỊCH TRÌNH====================== -->
            @if (tourDetail.tourSchedules) {
              <div #lichTrinh id="lich-trinh" class="tab">
                <div class="tab-title !uppercase">
                  {{ 'tour_detail.schedule' | translate }}
                </div>
                <app-schedule
                  [tourDays]="tourDetail.tourSchedules"></app-schedule>
              </div>
            }
            <!-- ======================BẢNG GIÁ====================== -->
            @if (tourDetail) {
              <div #bangGia id="bang-gia" class="tab">
                <div class="tab-title !uppercase">
                  {{ 'tour_detail.table' | translate }}
                </div>
                <app-price-list
                  [dataTourPrice]="tourDetail.tourPrices"
                  [dataTourDiscount]="tourDetail.tourDiscounts"
                  [dataTourSurcharge]="tourDetail.tourSurcharges">
                </app-price-list>
              </div>
            }

            <!--============== DỊCH VỤ =================-->
            <div #dichVu id="dich-vu" class="tab space-y-8!">
              <!--============== DỊCH VỤ BAO GỒM =================-->
              @if (tourDetail.nonService) {
                <div class="content-1">
                  <div class="tab-title !uppercase">
                    {{ 'tour_detail.service_content' | translate }}
                  </div>
                  <div class="content-1">{{ tourDetail.service }}</div>
                </div>
              }

              <!--============== DỊCH VỤ KHÔNG BAO GỒM =================-->
              @if (tourDetail?.nonService) {
                <div class="content-2">
                  <div class="tab-title !uppercase">
                    {{ 'tour_detail.non_service_content' | translate }}
                  </div>
                  <div class="content-2-text">{{ tourDetail.nonService }}</div>
                </div>
              }

              <!--============== DỊCH VỤ BAO GỒM =================-->
              @if (tourDetail.regulation) {
                <div class="content-3">
                  <div class="tab-title !uppercase">
                    {{ 'tour_detail.t_c' | translate }}
                  </div>
                  <div class="content-3-text">
                    {{ tourDetail.regulation }}
                  </div>
                </div>
              }

              <!--============== DỊCH VỤ BAO GỒM =================-->
              @if (tourDetail.note) {
                <div class="content-3">
                  <div class="tab-title !uppercase">
                    {{ 'tour_detail.note' | translate }}
                  </div>
                  <div class="content-3-text">
                    {{ tourDetail.note }}
                  </div>
                </div>
              }
            </div>
          </div>

          <!--============== CUSTOMER FEEDBACK =================-->
          <div class="customer-feedback mb-2!">
            <div class="customer-feedback-title uppercase">
              {{ 'tour_detail.customer_preview' | translate }}
            </div>
            <app-review-summary
              [averageRate]="tourDetail?.averageRate ?? 5"
              [totalReviews]="tourDetail?.totalReviews ?? 0"
              [ratingList]="tourDetail?.ratingList ?? []"></app-review-summary>
            <app-form-feedback></app-form-feedback>
            <app-review-list
              [reviews]="tourDetail.tourComments ?? []"></app-review-list>
          </div>
        </div>
      </div>
      <div class="right-content !hidden lg:!block shadow-sm rounded-xl">
        <app-sidebar-tab-tour-foreign [tourDetail]="tourDetail">
        </app-sidebar-tab-tour-foreign>
      </div>
    </div>
  }
</section>
