<swiper-container
  class="mySwiper"
  pagination="false"
  pagination-clickable="false"
  slides-per-view="1"
  grid='{
    "rows": 1,
    "fill": "row"
  }'
  breakpoints='{
    "640": {
      "slidesPerView": 2,
      "grid": { "rows":2 },
      "spaceBetween": 0
    },
    "768": {
      "slidesPerView": 2,
      "grid": { "rows": 2 },
       "spaceBetween": 0
    },
    "1024": {
      "slidesPerView": 2,
      "grid": { "rows": 2 },
       "spaceBetween": 20
    },
    "1280": {
      "slidesPerView": 2,
      "grid": { "rows": 2 },
      "spaceBetween": 20
    }
  }'>
  @for (tour of dataDomesticTour; track tour) {
    <swiper-slide
      class="text-black cursor-pointer"
      [routerLink]="['/tab-tour-foreign-detail', tour.tourId]">
      <div class="card-item">
        <div class="picture">
          <img
            class="h-[200px] w-full rounded-sm lg:!h-[130px] lg:!w-[200px] object-cover bg-center bg-cover"
            [src]="formatImage(tour.images?.[0]?.storagePath || '')"
            alt="" />
        </div>
        <div class="picture truncate !space-y-[8px]">
          <div
            class="truncate font-medium uppercase !text-[var(--green-color)]">
            {{ tour.title }}
          </div>
          <div class="feedback">
            <div class="flex items-center !space-x-2">
              <div class="star flex">
                @for (i of [1, 2, 3, 4, 5]; track i) {
                  <fa-icon
                    [icon]="faStar"
                    [ngClass]="
                      i <= tour.averageRate ? 'text-[#e5831e]' : 'text-gray-300'
                    "
                    class="mr-1"></fa-icon>
                }
              </div>
              <span class="text-[#888]">|</span>
              <div class="text-[#888]">
                {{ tour.totalReviews }}
                {{ getTrans('home', 'rating') }}
              </div>
            </div>
          </div>
          <div class="!space-x-1">
            <span class="!text-[#3A3A3C] font-medium">
              {{ getTrans('home', 'itinerary') }} :
            </span>
            <span class="!text-[#ED1C24] font-medium">{{ tour.stayDate }}</span>
          </div>
          <div class="flex items-start">
            <span class="!text-[#3A3A3C] font-medium">
              {{ getTrans('home', 'from') }}:
            </span>
            <ul class="flex items-center truncate !ml-1">
              @for (
                data of tour.startingPoints;
                track data.id;
                let last = $last
              ) {
                <li class="inline !text-gray-500">
                  {{ data.name }}
                  @if (!last) {
                    <span class="!mr-1">,</span>
                  }
                </li>
              }
            </ul>
          </div>
          <div class="price">
            <div class="text-end !pr-2 !text-[#3A3A3C] text-[16px] font-medium">
              {{ getTrans('home', 'price_from') }}:
            </div>
            <div class="text-end !space-x-2">
              <span class="line-through font-medium !text-gray-400 !text-[14px]"
                >{{ tour.originalPrice | number }} {{ tour.currencyUnit }}</span
              >
              <span class="font-medium !text-[18px] !text-[#ED1C24]"
                >{{ tour.finalPrice | number }} {{ tour.currencyUnit }}</span
              >
            </div>
          </div>
        </div>
      </div>
    </swiper-slide>
  }
</swiper-container>
