<swiper-container
  class="mySwiper"
  pagination="true"
  pagination-clickable="true"
  space-between="30"
  slides-per-view="1"
  grid='{
    "rows": 1,
    "fill": "row"
  }'
  breakpoints='{
    "640": {
      "slidesPerView": 1,
      "grid": { "rows": 1 }
    },
    "768": {
      "slidesPerView": 1,
      "grid": { "rows": 1 }
    },
    "1024": {
      "slidesPerView": 2,
      "grid": { "rows": 2 }
    },
    "1280": {
      "slidesPerView": 2,
      "grid": { "rows": 2 }
    }
  }'>
  @for (tour of dataDomesticTour; track tour) {
    <swiper-slide
      class="text-black cursor-pointer"
      [routerLink]="['/tab-tour-foreign-detail', tour.id]">
      <div class="card-item">
        <div class="picture">
          <img class="" [src]="tour.imageUrl?.[0]" alt="" />
          <!--          <img class="" src="https://hanoitourist.vn/sites/default/files/2025/01/%C4%90%E1%BA%A3o%20Nami.jpg" alt="" />-->
        </div>
        <div class="picture truncate !space-y-[8px]">
          <div class="truncate font-bold uppercase">{{ tour.title }}</div>
          <div class="feedback">
            <div class="flex items-center !space-x-2">
              <div class="star flex">
                @for (i of [1, 2, 3, 4, 5]; track i) {
                  <fa-icon
                    [icon]="faStar"
                    [ngClass]="
                      i <= tour.star ? 'text-[#e5831e]' : 'text-gray-300'
                    "
                    class="mr-1"></fa-icon>
                }
              </div>
              <span class="text-[#888]">|</span>
              <div class="">{{ tour.numberComment }} đánh giá</div>
            </div>
          </div>
          <div class="!space-x-2">
            <span class="!text-[#3A3A3C] font-medium">Hành trình:</span>
            <span class="!text-[#e7000b] font-medium">{{ tour.stayDate }}</span>
          </div>
          <div class="flex items-start">
            <span class="!text-[#3A3A3C] font-medium">Từ:</span>
            <ul class="flex items-center truncate !ml-1">
              @for (
                data of tour.startingPoints;
                track data.id;
                let last = $last
              ) {
                <li class="inline !text-gray-500">
                  {{ data.name }}
                  @if (!last) {
                    <span class="!mr-1">,</span>
                  }
                </li>
              }
            </ul>
          </div>
          <div class="price">
            <div class="text-end !pr-2 !text-[#3A3A3C] text-[16px] font-medium">
              Giá chỉ từ:
            </div>
            <div class="text-end !space-x-2">
              <span class="line-through font-medium !text-gray-400 !text-[14px]"
                >{{ tour.originalPrice | number }} VNĐ</span
              >
              <span class="font-bold !text-[18px] !text-red-600"
                >{{ tour.finalPrice | number }} VNĐ</span
              >
            </div>
          </div>
        </div>
      </div>
    </swiper-slide>
  }
</swiper-container>
