<section class="tab-tour-feature-foreign">
  <nz-breadcrumb nzSeparator=">" class="breadcrumb">
    <nz-breadcrumb-item>
      <a routerLink="/">Trang chủ</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item class="font-bold">
      Tour nước ngoài
    </nz-breadcrumb-item>
  </nz-breadcrumb>
<!--=============================================================-->
  <div class="tab-tour-feature-foreign-main">
    <div class="sidebar-feature-foreign p-6!">
      <app-sidebar-feature-foreign></app-sidebar-feature-foreign>
    </div>
    <div class="content-feature-foreign">
      <app-content-feature-foreign></app-content-feature-foreign>
    </div>
  </div>
</section>
