<section class="tab-tour-feature-foreign">
  <nz-breadcrumb nzSeparator=">" class="breadcrumb">
    <nz-breadcrumb-item>
      <a routerLink="/">Trang chủ</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item class="font-bold"> Tour nước ngoài </nz-breadcrumb-item>
  </nz-breadcrumb>
  <!--=============================================================-->
  <div class="tab-tour-feature-foreign-main flex flex-col lg:flex-row gap-6">
    <div class="sidebar-feature-foreign p-6! w-full sm:w-1/3 lg:w-1/4">
      <app-sidebar-feature-foreign
        (filtersChanged)="
          onFiltersChanged($event)
        "></app-sidebar-feature-foreign>
    </div>
    <div class="content-feature-foreign">
      <app-content-feature-foreign
        [filterParams]="filters"></app-content-feature-foreign>
    </div>
  </div>
</section>
