@if (dataServiceDetail) {
  <section class="tab-service">
    <div
      class="banner-tab-service"
      [ngStyle]="{
        'background-image': dataServiceDetail.image?.storagePath
          ? 'url(' + formatImage(dataServiceDetail.image.storagePath) + ')'
          : 'none',
      }">
      <div class="overlay w-full h-full flex flex-col justify-center">
        <div class="content !space-y-10 text-center">
          <p class="sub-title lg:!text-[20px] uppercase">
            {{ 'tab_service.title' | translate }}
          </p>
          <div
            class="title !text-[18px] md:!text-[30px] lg:!text-[60px] !px-15">
            {{ dataServiceDetail.bannerTitle }}
          </div>
          <button
            class="cta-button !text-[20px] hover:outline hover:outline-red-500 hover:outline-2">
            <fa-icon
              [icon]="faPhoneFlip"
              class="phone-icon mr-2! tracking-wide"></fa-icon>
            <span>
              {{ 'tab_service.consulting' | translate }}:
              <span class="text-red-500 tracking-wider">
                {{ dataServiceDetail.phone }}
              </span>
            </span>
          </button>
        </div>
      </div>
    </div>
    <div class="banner-tab-service-content">
      <div class="content-service-contact flex gap-10 flex-wrap justify-center">
        <div class="content-service !space-y-6 !w-full lg:!w-2/5">
          <div class="content-service-title">
            {{ dataServiceDetail.serviceTitle }}
          </div>
          <div class="content-service-list">
            {{ dataServiceDetail.serviceContent }}
          </div>
        </div>
        <div class="service-contact !w-full lg:!w-2/5">
          <div class="service-contact-title">
            {{ 'tab_service.instruction' | translate }}
          </div>
          <form
            nz-form
            [formGroup]="validateForm"
            (ngSubmit)="submitForm()"
            class="service-contact-form grid grid-col-2 !gap-x-2"
            nzLayout="vertical">
            <!--     Tên-->
            <nz-form-item>
              <nz-form-label [nzSpan]="24" class="font-medium text-[14px]"
                >{{ 'tab_service.name' | translate
                }}<span class="text-red-500 !mx-2">*</span>:</nz-form-label
              >
              <nz-form-control
                [nzValidateStatus]="validateForm.controls.name"
                nzErrorTip="{{ 'tab_service.name_required' | translate }}">
                <input
                  nz-input
                  formControlName="name"
                  placeholder="{{ 'tab_service.enter_name' | translate }}"
                  class="py-2! rounded-lg!" />
              </nz-form-control>
            </nz-form-item>
            <!--     Số điện thoại-->
            <nz-form-item>
              <nz-form-label [nzSpan]="24" class="font-medium text-[14px]"
                >{{ 'tab_service.phone' | translate
                }}<span class="text-red-500 !mx-2">*</span>:</nz-form-label
              >
              <nz-form-control
                [nzValidateStatus]="validateForm.controls.phone"
                nzErrorTip="{{ 'tab_service.phone_required' | translate }}">
                <input
                  nz-input
                  type="number"
                  formControlName="phone"
                  placeholder="{{ 'tab_service.phone' | translate }}"
                  class="py-2! rounded-lg!" />
              </nz-form-control>
            </nz-form-item>

            <!--     Email-->
            <nz-form-item>
              <nz-form-label [nzSpan]="24" class="font-medium text-[16px]"
                >Email:</nz-form-label
              >
              <nz-form-control>
                <input
                  nz-input
                  type="email"
                  formControlName="email"
                  placeholder="Email"
                  class="py-2! rounded-lg!" />
              </nz-form-control>
            </nz-form-item>

            <!--     Ghi chú-->
            <nz-form-item>
              <nz-form-label [nzSpan]="24" class="font-medium text-[14px]">
                {{ 'tab_service.note' | translate }}:
              </nz-form-label>
              <nz-form-control>
                <input
                  nz-input
                  type="text"
                  formControlName="message"
                  placeholder="{{ 'tab_service.note' | translate }}"
                  class="py-2! rounded-lg!" />
              </nz-form-control>
            </nz-form-item>

            <!--     Buttons -->
            <div class="col-span-2 text-center">
              <button
                class="!px-12 !py-3 rounded-xl font-bold cursor-pointer bg-[#ed1d26] !text-white !uppercase">
                {{ 'tab_service.register_consulting' | translate }}
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="workflow">
        <div class="workflow-title text-center font-bold uppercase">
          {{ dataServiceDetail.workflow }}
        </div>
        <div
          class="workflow-steps grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
          @for (data of dataServiceDetail.visaProcesses; track data.id) {
            <div class="workflow-step">
              <div class="step">{{ data.title }}</div>
              <div class="step-content">{{ data.description }}</div>
            </div>
          }
        </div>
      </div>
    </div>
  </section>
}
