.tab-service {
  .banner-tab-service {
    height: 80vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    .overlay {
      background-color: rgba(0, 0, 0, 0.4);
      .content {
        color: white;
        .sub-title {
          letter-spacing: 4px;
          font-size: 14px;
          font-weight: 500;
        }
        .title {
          font-size: 60px;
          font-weight: 500;
          margin: 10px 0;
          color: white;
        }
        .desc {
          font-size: 20px;
          margin-bottom: 10px;
        }
        .price {
          font-size: 50px;
          color: #66d9ff;
          margin: 15px 0;
          strong {
            font-weight: 500;
          }
        }
        .cta-button {
          //background-color: #fcb900;
          color: white;
          border: none;
          padding: 12px 24px;
          border-radius: 6px;
          font-size: 16px;
          cursor: pointer;
          font-weight: 500;
        }
      }
    }
  }
  .banner-tab-service-content {
    padding: 3% 8%;
    .content-service-contact {
      .content-service {
        .content-service-title {
        }
        .content-service-list {
          .content-service-list-item {
            list-style: inherit;
          }
        }
        .btn-contact {
          color: white;
          padding: 10px 80px;
          cursor: pointer;
          border-radius: 20px;
          font-weight: 500;
          font-size: 18px;
          background-color: #0a9444;
        }
      }
      .service-contact {
        .service-contact-title {
        }
        .service-contact-form {
        }
      }
    }
    .workflow {
      margin: 10% 0 5% 0;
      .workflow-title {
        margin-bottom: 40px;
        font-size: 22px;
      }
      .workflow-steps {
        padding: 0 5%;
        gap: 20px;
        .workflow-step {
          flex: 0 0 calc(25% - 20px);
          box-sizing: border-box;
          border: 1px solid #ccc;
          padding: 10px;
          text-align: center;
          border-radius: 10px;
        }
      }
    }
  }
}
