
- Vé máy bay và lệ phí sân bay Hà Nội – Đà Lạt//Nha Trang – Hà Nội của hàng không Vietjet Air (vé đoàn, 7kg xách tay + 20kg hành lý ký gửi).
- Xe ôtô máy lạnh hiện đại phục vụ riêng cho đoàn đón tiễn sân bay Nội Bài và tại Đà Lạt, Nha Trang
Nghỉ đêm tại Khách sạn 3, 4*. Giờ nhận phòng sớm nhất từ 14h00; trả phòng muộn nhất 12h00)  (02 người lớn/phòng – nhóm lẻ khách sử dụng phòng 3, trẻ em ngủ cùng bố mẹ không có tiêu chuẩn phòng riêng)
+ Đà Lạt: Khách sạn Rum Vàng 3 sao hoặc tương đương
+ Nha Trang: Khách sạn Red sun 4 sao hoặc tương đương
- Các bữa ăn theo chương trình 150.000 đồng/khách/bữa ăn chính * 06 bữa chính. Ăn sáng buffet tại khách sạn.
- Quý khách được lo vé vào cổng tại các điểm du lịch trong chương trình.
- Quý khách được mua bảo hiểm du lịch suốt tuyến với mức đền bù tối đa 120.000.000 đồng/ người.
- Quý khách được phục vụ nước suối trên xe, định mức 1 chai / người/ ngày
- Hướng dẫn viên đón tiễn sân bay tại Hà Nội và tại Đà Lạt, Nha Trang kinh nghiệm nhiệt tình, thuyết minh tuyến điểm, phục vụ đoàn theo chương trình.
- Thuế VAT

Dịch vụ không bao gồm
- Ngủ phòng đơn, đồ uống. Chi phí cá nhân khác ngoài chương trình.
- Tiền bồi dưỡng cho lái xe và hướng dẫn viên.

Điều kiện & Quy định
Lưu ý:
- Thứ tự các điểm thăm quan có thể thay đổi để phù hợp với chương trình thực tế của đoàn song vẫn đảm bảo đầy đủ các điểm thăm quan.
- Giờ bay có thể thay đổi theo giờ bay của Hãng Hàng Không Vietjet Air

LƯU Ý TRONG QUÁ TRÌNH THỰC HIỆN TOUR:
•    Chương trình có thể thay đổi tùy thuộc vào giờ bay của hàng không, tuy nhiên vẫn đảm bảo đầy đủ các điểm tham quan.
•    Với Quý khách đủ từ 14 tuổi trở lên: mang theo bản gốc CCCD còn hạn hoặc hộ chiếu còn hạn trên 6 tháng...
•    Với Quý khách từ đủ 14 tuổi trở lên nhưng chưa có CCCD thì phải mang theo giấy xác nhận nhân thân theo mẫu và đóng dấu của địa phương nơi cư trú.
•    Đối với trẻ em dưới 14 tuổi: mang theo giấy khai sinh hoăc trích lục khai sinh (bản công chứng).
•    Các dịch vụ được đặt và thanh toán trước nên nếu các thành viên tách đoàn hoặc không sử dụng dịch vụ sẽ không được hoàn lại các chi phí tương ứng.
•    Mọi sự thay đổi phải được thống nhất với trưởng đoàn và phải dựa trên tính khả thi và tình hình thực tế. Chúng tôi có quyền từ chối nếu các thay đổi làm ảnh hưởng tới lịch trình, dịch vụ (bỏ điểm tham quan, bỏ dịch vụ… hoặc Quý khách tự động nhận thêm người nhà/người quen lên xe mà không có sự thỏa thuận với chúng tôi trước đó) Quý khách phải chấp nhận các phát sinh nếu có.
•    Nếu Quý khách hủy tour khi bị từ chối làm thủ tục tại sân bay vì lý do cá nhân (bao gồm cả vấn đề phẫu thuật thẩm mĩ hoặc chưa hoàn thành nghĩa vụ thuế với Nhà nước), công ty sẽ không chịu trách nhiệm xử lí và sẽ không hoàn trả tiền tour.
