<div class="">
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-card nzTitle="{{ 'please_feedback' | trans: 'tab_tour_detail' }}">
      <!--   Đánh giá star   -->
      <nz-form-item>
        <nz-form-control
          [nzErrorTip]="'please_feedback' | trans: 'tab_tour_detail'">
          <nz-rate formControlName="rate"></nz-rate>

          @if (validateForm.value.rate) {
            <span class="text-[20px] ml-2!">/</span>
            <span class="ant-rate-text !text-[20px] font-bold">
              {{ tooltips[validateForm.value.rate - 1] }}
            </span>
            <fa-icon
              [icon]="faStar"
              class="text-[#f0b100]! !text-[20px]"></fa-icon>
          }
        </nz-form-control>
      </nz-form-item>
      <!--   Nhập tên khách hàng   -->
      <nz-form-item>
        <nz-form-control nzErrorTip="">
          <input
            nz-input
            formControlName="name"
            placeholder="{{ 'enter_name' | trans: 'tab_tour_detail' }}"
            class="py-2! rounded-lg!" />
        </nz-form-control>
      </nz-form-item>
      <!--   Đánh giá star   -->
      <nz-form-item>
        <nz-form-control
          nzErrorTip="{{
            'please_enter_content_feedback' | trans: 'tab_tour_detail'
          }}">
          <textarea
            nz-input
            [nzAutosize]="{ minRows: 5, maxRows: 8 }"
            formControlName="content"
            placeholder="{{
              'please_enter_content_feedback' | trans: 'tab_tour_detail'
            }}"
            class="py-2! rounded-lg!">
          </textarea>
        </nz-form-control>
      </nz-form-item>
      <nz-divider></nz-divider>
      <button nz-button nzType="primary">
        {{ 'submit_feedback' | trans: 'tab_tour_detail' }}
      </button>
    </nz-card>
  </form>
</div>
