<swiper-container
  loop="true"
  slides-per-view="1"
  class="mySwiper"
  autoplay-delay="1800"
  autoplay-disable-on-interaction="false"
  space-between="15"
  breakpoints='{
                      "640": { "slidesPerView": 1 },
                      "768": { "slidesPerView": 2 },
                      "1024": { "slidesPerView": 3 },
                      "1280": { "slidesPerView": 5 }
                    }'>
  @for (data of dataCustomerFeature; track $index) {
    <swiper-slide
      class="slide border text-center p-5! rounded-lg border-[#D3D3D3] h-[160px]">
      <img
        [src]="formatImage(data.responseDocumentDTO.storagePath)"
        alt=""
        class="h-full w-full object-cover bg-center bg-cover" />
    </swiper-slide>
  }
</swiper-container>
