<form
  nz-form
  [formGroup]="visaServiceForm"
  nzLayout="vertical"
  (ngSubmit)="onSubmit($event)">
  <div class="flex justify-between">
    <h1>
      Cấu hình dịch vụ
      <span class="italic text-gray-500 font-normal">{{
        isOriginalLanguage
          ? '(Bản gốc)'
          : visaServiceForm.value?.created
            ? '(Bản dịch)'
            : '(Chưa có bản dịch)'
      }}</span>
    </h1>
    <div class="flex gap-2">
      <button nz-button nzType="primary" type="submit">Lưu</button>
      <app-language-selection
        [(selectedLanguage)]="selectedLanguage"
        (selectedLanguageChange)="
          fetchVisaServiceData()
        "></app-language-selection>
    </div>
  </div>
  <nz-form-item>
    <nz-form-label>Tên</nz-form-label>
    <nz-form-control>
      <input nz-input formControlName="name" placeholder="Nhập tên" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label>Tiêu đề banner</nz-form-label>
    <nz-form-control>
      <input
        nz-input
        formControlName="bannerTitle"
        placeholder="Nhập tiêu đề" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label>Số điện thoại</nz-form-label>
    <nz-form-control>
      <input
        nz-input
        formControlName="phone"
        placeholder="Nhập số điện thoại" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label>Tiêu đề dịch vụ</nz-form-label>
    <nz-form-control>
      <input
        nz-input
        formControlName="serviceTitle"
        placeholder="Nhập tiêu đề" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label>Nội dung dịch vụ</nz-form-label>
    <nz-form-control>
      <textarea
        nz-input
        rows="3"
        formControlName="serviceContent"
        placeholder="Nhập nội dung"></textarea>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label>Quy trình làm việc</nz-form-label>
    <nz-form-control>
      <input nz-input formControlName="workflow" placeholder="Nhập quy trình" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label>Ảnh đại diện</nz-form-label>
    <nz-form-control>
      @if (visaServiceForm.controls['image'].enabled) {
        <nz-upload
          nzListType="picture-card"
          [nzBeforeUpload]="beforeUpload"
          [nzMultiple]="false"
          [nzShowUploadList]="false">
          @if (visaServiceForm.controls['image']?.value) {
            <img [src]="imgPreview" class="w-full" alt="blog" />
          } @else {
            <div>
              <i nz-icon nzType="plus"></i>
              <div>Tải ảnh</div>
            </div>
          }
        </nz-upload>
      } @else {
        <div class="w-[100px] h-[100px]">
          <img
            width="auto"
            height="auto"
            [src]="visaServiceForm.controls['title']?.value?.thumbUrl"
            alt="image" />
        </div>
      }
    </nz-form-control>
  </nz-form-item>

  <div formArrayName="processSteps">
    <h1>Quy trình xử lý</h1>
    <div>
      @for (step of processSteps.controls; track step) {
        <div [formGroupName]="$index">
          <div class="flex gap-2 justify-between">
            <nz-form-label>
              Bước {{ $index + 1 }}:
              <span class="!ml-1 italic text-gray-500 font-normal">{{
                isOriginalLanguage
                  ? '(Bản gốc)'
                  : step.value?.created
                    ? '(Bản dịch)'
                    : '(Chưa có bản dịch)'
              }}</span>
            </nz-form-label>
            @if (isOriginalLanguage) {
              <div>
                <button
                  nz-button
                  nz-dropdown
                  [nzDropdownMenu]="menu"
                  nzTrigger="click"
                  (click)="$event.stopPropagation()">
                  <nz-icon nzType="ellipsis" />
                </button>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                  <ul nz-menu>
                    <li nz-menu-item>
                      <a
                        nz-button
                        nzType="link"
                        (click)="$event.stopPropagation(); addStep($index)">
                        <nz-icon
                          nzType="vertical-align-top"
                          nzTheme="outline" />
                        <span class="text-secondary"
                          >Thêm bước phía trên</span
                        ></a
                      >
                    </li>
                    <li nz-menu-item>
                      <a
                        nz-button
                        nzType="link"
                        (click)="$event.stopPropagation(); addStep($index + 1)">
                        <nz-icon
                          nzType="vertical-align-bottom"
                          nzTheme="outline" />
                        <span class="text-secondary"
                          >Thêm bước phía dưới</span
                        ></a
                      >
                    </li>
                    <li nz-menu-item>
                      <a
                        nz-button
                        nzType="link"
                        (click)="
                          $event.stopPropagation();
                          swapSteps($index, $index - 1)
                        "
                        [disabled]="$first">
                        <nz-icon nzType="arrow-up" nzTheme="outline" />
                        <span class="text-secondary">Di chuyển lên</span></a
                      >
                    </li>
                    <li nz-menu-item>
                      <a
                        nz-button
                        nzType="link"
                        (click)="
                          $event.stopPropagation();
                          swapSteps($index, $index + 1)
                        "
                        [disabled]="$last">
                        <nz-icon nzType="arrow-down" nzTheme="outline" />
                        <span class="text-secondary">Di chuyển xuống</span></a
                      >
                    </li>
                    <li nz-menu-item>
                      <a
                        nz-button
                        nzType="link"
                        (click)="$event.stopPropagation(); removeStep($index)"
                        [disabled]="$count < 2">
                        <nz-icon nzType="delete" nzTheme="outline" />
                        <span class="text-secondary">Xoá</span></a
                      >
                    </li>
                  </ul>
                </nz-dropdown-menu>
              </div>
            }
          </div>
          <div class="!ml-3">
            <nz-form-item>
              <nz-form-label>Tiêu đề</nz-form-label>
              <nz-form-control>
                <input
                  nz-input
                  formControlName="title"
                  placeholder="Nhập tiêu đề" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label>Nội dung</nz-form-label>
              <nz-form-control>
                <input
                  nz-input
                  formControlName="description"
                  placeholder="Nhập nội dung" />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      }
    </div>
  </div>
</form>
