.sidebar-tour-foreign {
  padding: 20px;
  .name-tour {
    font-weight: 500;
    font-size: 16px;
  }
  .price-tour {
    .price-tour-label {
      font-size: 14px;
    }
    .price-tour-value {
      font-size: 24px;
      font-weight: 600;
      color: #ec1d27;
    }
  }
  .departure-date {
    display: flex;
    gap: 6px;
    .icon-calendar {
      color: #0c9544;
    }
  }
  .departure-location {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 6px;
    .icon-location {
      color: #ed1d26 !important;
    }
  }
  .text-center {
    margin-top: 20px;
    .btn-reserve {
      background-color: #0c9544;
      color: white;
      border-radius: 8px;
      padding: 6px 30px;
      cursor: pointer;
      text-align: center;
      display: inline-block;
      .btn-title {
        font-size: 16px;
        font-weight: bold;
      }
      .btn-subtitle {
        font-size: 13px;
        margin-top: 2px;
      }
    }
  }
}
.ant-divider-horizontal {
  margin: 20px 0;
  text-align: center;
}
::ng-deep .ant-modal-header {
  background: #0c9544 !important;
}
::ng-deep .ant-modal-title {
  color: white;
  font-weight: 500;
}
::ng-deep .ant-btn-primary {
  background: #0c9544 !important;
}
