@if (tourDetail) {
  <div class="sidebar-tour-foreign">
    <div class="space-y-2!">
      <div class="name-tour">
        {{ tourDetail.title }}
      </div>
      <div class="price-tour space-y-1!">
        @if (tourDetail.finalPrice) {
          <div class="price-tour-label">Giá chỉ từ:</div>
          <div class="price-tour-value">
            {{ tourDetail.finalPrice | number }}
          </div>
        }
      </div>
    </div>
    <nz-divider></nz-divider>
    <div class="space-y-2!">
      <div class="departure-date">
        <fa-icon [icon]="faCalendarDays" class="icon-calendar"></fa-icon>
        <span>Hành trình:</span>
        <div class="date font-medium">{{ tourDetail.stayDate }}</div>
      </div>
      <div class="departure-location">
        <fa-icon [icon]="faLocationDot" class="icon-location"></fa-icon>
        <span>Từ:</span>
        @for (
          tourDetail of tourDetail.startingPoints;
          track $index;
          let last = $last
        ) {
          <span class="font-medium"
            >{{ tourDetail.name }}
            @if (!last) {
              <span>,</span>
            }
          </span>
        }
      </div>
    </div>
    <div class="text-center">
      <button class="btn-reserve" (click)="showModal()">
        <div class="btn-title">ĐẶT GIỮ CHỖ NGAY</div>
        <div class="btn-subtitle">Đặt ngay chưa cần thanh toán</div>
      </button>
      <form nz-form [formGroup]="validateForm" (ngSubmit)="handleCancel()">
        <nz-modal
          class="!rounded-xl"
          [nzWidth]="800"
          [(nzVisible)]="isVisible"
          nzTitle="Thông tin liên lạc"
          (nzOnCancel)="handleCancel()"
          (nzOnOk)="handleOk()">
          <ng-container *nzModalContent>
            <div class="grid grid-cols-2 gap-2">
              <nz-form-item>
                <nz-form-control nzErrorTip="Tên là bắt buộc">
                  <input
                    class="!rounded-lg py-2! px-4!"
                    nz-input
                    placeholder="Họ và tên"
                    formControlName="name" />
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-control nzErrorTip="Email là bắt buộc">
                  <input
                    nz-input
                    class="!rounded-lg py-2! px-4!"
                    placeholder="Email"
                    formControlName="email" />
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-control nzErrorTip="Số điện thoại là bắt buộc">
                  <input
                    nz-input
                    class="!rounded-lg py-2! px-4!"
                    placeholder="Số điện thoại"
                    formControlName="phone" />
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-control nzErrorTip="Ghi chú là bắt buộc!">
                  <input
                    nz-input
                    class="!rounded-lg py-2! px-4!"
                    placeholder="Địa chỉ"
                    formControlName="note" />
                </nz-form-control>
              </nz-form-item>
            </div>
          </ng-container>
        </nz-modal>
      </form>
    </div>
  </div>
}
