::ng-deep .ant-timeline-item-head-blue {
  border-color: #0b9444;
  background-color: #0b9444;
}
::ng-deep .anticon svg {
  display: block;
  font-weight: 500;
}
::ng-deep .ant-collapse-header {
  font-weight: 600;
  color: #3f3e3e !important;
}
::ng-deep .ant-timeline-item-head {
  margin-top: 10px;
}
