<nz-timeline>
  @for (day of tourDays; track day; let i = $index) {
    <nz-timeline-item>
      <nz-collapse>
        <nz-collapse-panel
          [nzHeader]="
            ' ' +
            ('tour_detail.day' | translate) +
            ' ' +
            (i + 1) +
            ': ' +
            day.title
          "
          [nzActive]="false">
          <div class="text-justify">{{ day.description }}</div>
        </nz-collapse-panel>
      </nz-collapse>
    </nz-timeline-item>
  }
</nz-timeline>
