<div class="cards-content-feature-domestic">
  <div class="card-content-feature-domestic-item">
    <div class="card-content-feature-domestic-item-image">
      <img src="https://hanoitourist.vn/sites/default/files/2025/02/w2-1715749810964.jpg" alt="">
    </div>
    <div class="card-content-feature-domestic-item-info !space-y-2">
      <div class="card-content-feature-domestic-item-info-title ">
        <a href="">
          TRÀ LĨNH – TP. TỊNH TÂY – NGA TUYỀN – PHỐ CỔ CẨM TÚ
          – CỔ LONG ĐẠI HIỆP CỐC – HANG PẮC BÓ - THÁC BẢN GIỐC
        </a>
      </div>
      <div class="star">
        <fa-icon [icon]="faStar" class="close-menu-icon"></fa-icon>
        <fa-icon [icon]="faStar" class="close-menu-icon"></fa-icon>
        <fa-icon [icon]="faStar" class="close-menu-icon"></fa-icon>
        <fa-icon [icon]="faStar" class="close-menu-icon"></fa-icon>
        <fa-icon [icon]="faStar" class="close-menu-icon"></fa-icon>
      </div>
      <!--=====Hành trình======-->
      <div class="">Hành trình: <span class="font-bold">Trung Quốc - 3 ngày 2 đêm</span></div>
      <!--===== Ngày đi ======-->
      <div class="departureDate">
        <fa-icon [icon]="faCalendarDays" class="close-menu-icon"></fa-icon>
        Ngày đi: <span class="font-bold">27/06/2025 (3 ngày 2 đêm)</span>
      </div>
      <!--===== Địa điểm đi ======-->
      <div class="place-price">
        <div class="place">
          <fa-icon [icon]="faLocationDot" class="close-menu-icon"></fa-icon>
          Từ:<span class="font-bold"> Hà Nội</span>
        </div>
        <div class="price">
          Giá từ:
          <br>
          <span class=" text-[18px] font-bold price text-[#ef2061]">7,250,000 VNĐ</span>
        </div>
      </div>
      <div class="routes">
        <div class="feature-routes">
          <a href="">
            Điểm nổi bật
            <fa-icon [icon]="faAngleRight" class="close-menu-icon"></fa-icon>
          </a>
        </div>
        <div class="btn-detail">
          <button class="font-medium!">XEM CHI TIẾT</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-content-feature-domestic-item">
    <div class="card-content-feature-domestic-item-image">
      <img src="https://hanoitourist.vn/sites/default/files/2025/02/w2-1715749810964.jpg" alt="">
    </div>
    <div class="card-content-feature-domestic-item-info !space-y-2">
      <div class="card-content-feature-domestic-item-info-title ">
        <a href="">
          TRÀ LĨNH – TP. TỊNH TÂY – NGA TUYỀN – PHỐ CỔ CẨM TÚ
          – CỔ LONG ĐẠI HIỆP CỐC – HANG PẮC BÓ - THÁC BẢN GIỐC
        </a>
      </div>
      <div class="star">
        <fa-icon [icon]="faStar" class="close-menu-icon"></fa-icon>
        <fa-icon [icon]="faStar" class="close-menu-icon"></fa-icon>
        <fa-icon [icon]="faStar" class="close-menu-icon"></fa-icon>
        <fa-icon [icon]="faStar" class="close-menu-icon"></fa-icon>
        <fa-icon [icon]="faStar" class="close-menu-icon"></fa-icon>
      </div>
      <!--=====Hành trình======-->
      <div class="">Hành trình: <span class="font-bold">Trung Quốc - 3 ngày 2 đêm</span></div>
      <!--===== Ngày đi ======-->
      <div class="departureDate">
        <fa-icon [icon]="faCalendarDays" class="close-menu-icon"></fa-icon>
        Ngày đi: <span class="font-bold">27/06/2025 (3 ngày 2 đêm)</span>
      </div>
      <!--===== Địa điểm đi ======-->
      <div class="place-price">
        <div class="place">
          <fa-icon [icon]="faLocationDot" class="close-menu-icon"></fa-icon>
          Từ:<span class="font-bold"> Hà Nội</span>
        </div>
        <div class="price">
          Giá từ:
          <br>
          <span class=" text-[18px] font-bold price text-[#ef2061]">7,250,000 VNĐ</span>
        </div>
      </div>
      <div class="routes">
        <div class="feature-routes">
          <a href="">
            Điểm nổi bật
            <fa-icon [icon]="faAngleRight" class="close-menu-icon"></fa-icon>
          </a>
        </div>
        <div class="btn-detail">
          <button class="font-medium!">XEM CHI TIẾT</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-content-feature-domestic-item">
    <div class="card-content-feature-domestic-item-image">
      <img src="https://hanoitourist.vn/sites/default/files/2025/02/w2-1715749810964.jpg" alt="">
    </div>
    <div class="card-content-feature-domestic-item-info !space-y-2">
      <div class="card-content-feature-domestic-item-info-title ">
        <a href="">
          TRÀ LĨNH – TP. TỊNH TÂY – NGA TUYỀN – PHỐ CỔ CẨM TÚ
          – CỔ LONG ĐẠI HIỆP CỐC – HANG PẮC BÓ - THÁC BẢN GIỐC
        </a>
      </div>
      <div class="star">
        <fa-icon [icon]="faStar" class="close-menu-icon"></fa-icon>
        <fa-icon [icon]="faStar" class="close-menu-icon"></fa-icon>
        <fa-icon [icon]="faStar" class="close-menu-icon"></fa-icon>
        <fa-icon [icon]="faStar" class="close-menu-icon"></fa-icon>
        <fa-icon [icon]="faStar" class="close-menu-icon"></fa-icon>
      </div>
      <!--=====Hành trình======-->
      <div class="">Hành trình: <span class="font-bold">Trung Quốc - 3 ngày 2 đêm</span></div>
      <!--===== Ngày đi ======-->
      <div class="departureDate">
        <fa-icon [icon]="faCalendarDays" class="close-menu-icon"></fa-icon>
        Ngày đi: <span class="font-bold">27/06/2025 (3 ngày 2 đêm)</span>
      </div>
      <!--===== Địa điểm đi ======-->
      <div class="place-price">
        <div class="place">
          <fa-icon [icon]="faLocationDot" class="close-menu-icon"></fa-icon>
          Từ:<span class="font-bold"> Hà Nội</span>
        </div>
        <div class="price">
          Giá từ:
          <br>
          <span class=" text-[18px] font-bold price text-[#ef2061]">7,250,000 VNĐ</span>
        </div>
      </div>
      <div class="routes">
        <div class="feature-routes">
          <a href="">
            Điểm nổi bật
            <fa-icon [icon]="faAngleRight" class="close-menu-icon"></fa-icon>
          </a>
        </div>
        <div class="btn-detail">
          <button class="font-medium!">XEM CHI TIẾT</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-content-feature-domestic-item">
    <div class="card-content-feature-domestic-item-image">
      <img src="https://hanoitourist.vn/sites/default/files/2025/02/w2-1715749810964.jpg" alt="">
    </div>
    <div class="card-content-feature-domestic-item-info !space-y-2">
      <div class="card-content-feature-domestic-item-info-title ">
        <a href="">
          TRÀ LĨNH – TP. TỊNH TÂY – NGA TUYỀN – PHỐ CỔ CẨM TÚ
          – CỔ LONG ĐẠI HIỆP CỐC – HANG PẮC BÓ - THÁC BẢN GIỐC
        </a>
      </div>
      <div class="star">
        <fa-icon [icon]="faStar" class="close-menu-icon"></fa-icon>
        <fa-icon [icon]="faStar" class="close-menu-icon"></fa-icon>
        <fa-icon [icon]="faStar" class="close-menu-icon"></fa-icon>
        <fa-icon [icon]="faStar" class="close-menu-icon"></fa-icon>
        <fa-icon [icon]="faStar" class="close-menu-icon"></fa-icon>
      </div>
      <!--=====Hành trình======-->
      <div class="">Hành trình: <span class="font-bold">Trung Quốc - 3 ngày 2 đêm</span></div>
      <!--===== Ngày đi ======-->
      <div class="departureDate">
        <fa-icon [icon]="faCalendarDays" class="close-menu-icon"></fa-icon>
        Ngày đi: <span class="font-bold">27/06/2025 (3 ngày 2 đêm)</span>
      </div>
      <!--===== Địa điểm đi ======-->
      <div class="place-price">
        <div class="place">
          <fa-icon [icon]="faLocationDot" class="close-menu-icon"></fa-icon>
          Từ:<span class="font-bold"> Hà Nội</span>
        </div>
        <div class="price">
          Giá từ:
          <br>
          <span class=" text-[18px] font-bold price text-[#ef2061]">7,250,000 VNĐ</span>
        </div>
      </div>
      <div class="routes">
        <div class="feature-routes">
          <a href="">
            Điểm nổi bật
            <fa-icon [icon]="faAngleRight" class="close-menu-icon"></fa-icon>
          </a>
        </div>
        <div class="btn-detail">
          <button class="font-medium!">XEM CHI TIẾT</button>
        </div>
      </div>
    </div>
  </div>
</div>
