<swiper-container
  class="mySwiper"
  pagination="true"
  pagination-clickable="true"
  space-between="30"
  slides-per-view="1"
  grid='{
    "rows": 1,
    "fill": "row"
  }'
  breakpoints='{
    "640": {
      "slidesPerView": 1,
      "grid": { "rows": 1 }
    },
    "768": {
      "slidesPerView": 1,
      "grid": { "rows": 1 }
    },
    "1024": {
      "slidesPerView": 2,
      "grid": { "rows": 2 }
    },
    "1280": {
      "slidesPerView": 2,
      "grid": { "rows": 2 }
    }
  }'>
  @for (tour of dataTour; track tour) {
    <swiper-slide class="text-black">
      <div class="card-item">
        <div class="card-item-image">
          <img class="" [src]="tour.imageUrl[0]" alt="" />
        </div>
        <div class="card-item-info space-y-2!">
          <div class="card-item-info-title space-y-2!">
            <div class="card-item-info-title-text">{{ tour.title }}</div>
            <div class="star">
              @for (i of [1, 2, 3, 4, 5]; track i) {
                <fa-icon [icon]="faStar" class="text-[#e5831e]"></fa-icon>
              }
            </div>
            <div class="card-item-info-start-day">
              <fa-icon
                [icon]="faCalendarDays"
                class="!text-[14px] mr-2! text-[#0d9344]"></fa-icon>
              <span class="text-[#ef2061] font-medium">{{
                tour.stayDate
              }}</span>
            </div>
          </div>
          <div class="card-item-info-detail">
            <div class="card-item-info-place">
              <fa-icon
                [icon]="faLocationDot"
                class="!text-[14px] mr-1! text-[#ef1f28]"></fa-icon>
              Từ :
              <span class="font-bold">{{ tour.startingPoint }}</span>
            </div>
            <div class="card-item-info-price">
              Giá từ:
              <br />
              <span class="text-[16px] font-bold price"
                >{{ tour.finalPrice | number }}đ</span
              >
            </div>
          </div>
        </div>
      </div>
    </swiper-slide>
  }
</swiper-container>
