<section class="tab-contact">
  @for (data of dataBanner; track data.id) {
    @for (image of data.images; track image.id) {
      <div class="banner-contact relative w-full h-[480px]">
        <!-- Ảnh nền -->
        <img
          [src]="formateImage(image.storagePath)"
          alt="banner"
          class="absolute top-0 left-0 w-full h-full object-cover bg-center bg-cover" />

        <!-- Overlay + Nội dung -->
        <div
          class="w-full h-full flex items-center justify-center bg-black/10 relative z-10">
          <div
            class="banner-contact-title text-center text-[50px] font-bold text-white">
            {{ data.title }}
          </div>
        </div>
      </div>
    }
  }

  <div
    class="cards-contact flex gap-10 justify-center flex-wrap lg:flex-nowrap">
    <div class="cards-contact-item">
      @for (data of dataPhone; track data.id) {
        <div class="cards-contact-item-image">
          <fa-icon [icon]="faPhoneVolume" class="icon"></fa-icon>
        </div>
        <div class="cards-contact-item-info-detail space-y-4!">
          <div class="cards-contact-item-info-detail-title">
            {{ data.title }}
          </div>
          <div
            class="cards-contact-item-info-detail-description"
            [innerHTML]="data?.description | safeHtml"></div>
        </div>
      }
    </div>
    <div class="cards-contact-item">
      @for (data of dataEmail; track data.id) {
        <div class="cards-contact-item-image">
          <fa-icon [icon]="faEnvelope" class="icon"></fa-icon>
        </div>
        <div class="cards-contact-item-info-detail space-y-4!">
          <div class="cards-contact-item-info-detail-title">
            {{ data.title }}
          </div>
          <div class="cards-contact-item-info-detail-description">
            {{ data.description }}
          </div>
        </div>
      }
    </div>
    <div class="cards-contact-item">
      @for (data of dataAddress; track data.id) {
        <div class="cards-contact-item-image">
          <fa-icon [icon]="faLocationDot" class="icon"></fa-icon>
        </div>
        <div class="cards-contact-item-info-detail space-y-4!">
          <div class="cards-contact-item-info-detail-title">
            {{ data.title }}
          </div>
          <div class="cards-contact-item-info-detail-description">
            {{ data.description }}
          </div>
        </div>
      }
    </div>
  </div>
</section>
