<section class="tab-travel-guide-detail">
  <nz-breadcrumb nzSeparator=">" class="breadcrumb">
    <nz-breadcrumb-item>
      <a routerLink="/">Trang chủ</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item class="italic"> Cẩm nang du lịch </nz-breadcrumb-item>
    <nz-breadcrumb-item class="italic font-medium">
      Tour đoàn riêng
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  <div class="travel-guide-detail">
    <div class="travel-guide-detail-content">
      <div class=""></div>
    </div>
  </div>
</section>
