.tab-travel-guide-detail {
  .breadcrumb {
    background-color: #f3f0f0;
    padding: 10px 10%;
    margin-bottom: 10px;
  }
  .travel-guide-detail {
    .travel-guide-detail-content {
      padding: 10px 10%;
      .travel-guide-detail-content-time {
        margin-top: 30px;
        font-style: italic;
      }
      .travel-guide-detail-content-text {
        margin-top: 20px;
        line-height: 2;
        font-size: 16px;
      }
    }
  }
}
