<swiper-container
  loop="true"
  slides-per-view="1"
  space-between="15"
  breakpoints='{
                      "640": { "slidesPerView": 2 },
                      "768": { "slidesPerView": 2 },
                      "1024": { "slidesPerView": 3 },
                      "1280": { "slidesPerView": 4 }
                    }'>
  @for (data of dataFeatureTour; track $index) {
    <swiper-slide
      class="slide"
      [routerLink]="['/tab-tour-foreign-detail', data.tourId]">
      <div class="tour-card cursor-pointer">
        <div class="ribbon !bg-[#ED1C24]">
          {{ 'tour_card.best_sale' | translate }}
          {{ $index + 1 }}
        </div>
        <img
          [src]="formatImage(data.images?.[0]?.storagePath || '')"
          alt="Tour"
          class="tour-image !h-[200px] !w-full object-cover bg-center bg-cover" />
        <div class="tour-content">
          <div class="tour-title truncate !text-[var(--green-color)]">
            {{ data.title }}
          </div>

          <div class="rating">
            <div class="star flex">
              @for (i of [1, 2, 3, 4, 5]; track i) {
                <fa-icon
                  [icon]="faStar"
                  [ngClass]="
                    i <= data.averageRate ? 'text-[#e5831e]' : 'text-gray-300'
                  "
                  class="mr-1"></fa-icon>
              }
            </div>
            <span class="reviews !mx-2"
              >| {{ data.totalReviews | number }}
              {{ 'tour_card.rating' | translate }}
            </span>
          </div>
          <div class="">
            <span class="font-medium !text-[#3A3A3C]"
              >{{ 'tour_card.itinerary' | translate }}:</span
            >
            <span class="ml-1! !text-[#ED1C24] font-medium">{{
              data.stayDate
            }}</span>
          </div>
          <div class="tour-points text-[#6A6B6D] truncate">
            <span class="!mx-[4px] font-medium !text-[#3A3A3C]"
              >{{ 'tour_card.from' | translate }}:</span
            >
            <ul class="truncate">
              @for (
                item of data.startingPoints;
                track $index;
                let last = $last
              ) {
                <li class="inline !text-gray-500">
                  {{ item.name }}
                  @if (!last) {
                    <span class="!mr-[1px]">,</span>
                  }
                </li>
              }
            </ul>
          </div>
          <div class="">
            <div class="text-end !text-[#3A3A3C] text-[14px] font-medium">
              {{ 'tour_card.price_from' | translate }}:
            </div>
            <div class="price truncate">
              <span class="old-price !text-gray-400 font-medium"
                >{{ data.originalPrice | number }} VNĐ</span
              >
              <span class="new-price !text-[#ED1C24]"
                >{{ data.finalPrice | number }} VNĐ</span
              >
            </div>
          </div>
        </div>
      </div>
    </swiper-slide>
  }
</swiper-container>
