<swiper-container
  loop="true"
  slides-per-view="1"
  space-between="15"
  breakpoints='{
                      "640": { "slidesPerView": 1 },
                      "768": { "slidesPerView": 2 },
                      "1024": { "slidesPerView": 3 },
                      "1280": { "slidesPerView": 4 }
                    }'>
  @for (data of dataFeatureTour; track $index) {
    <swiper-slide
      class="slide"
      [routerLink]="['/tab-tour-foreign-detail', data.id]">
      <div class="tour-card">
        <div class="ribbon">Giá tốt nhất {{ $index + 1 }}</div>
        <img
          src="https://igotravel.vn/wwwroot/resources/upload/tong-hop-cac-hinh-thuc-du-lich-pho-bien-nhat-tai-viet-nam.png"
          alt="Tour"
          class="tour-image" />

        <div class="tour-content">
          <div class="tour-title truncate">
            {{ data.title }}
          </div>

          <div class="rating">
            <div class="star flex">
              @for (i of [1, 2, 3, 4, 5]; track i) {
                <fa-icon
                  [icon]="faStar"
                  [ngClass]="
                    i <= data.star ? 'text-[#e5831e]' : 'text-gray-300'
                  "
                  class="mr-1"></fa-icon>
              }
            </div>
            <span class="reviews">| {{ data.numberComment }} đánh giá</span>
          </div>

          <ul class="tour-points font-medium text-[#6A6B6D]">
            @for (item of data.startingPoints; track $index) {
              <li>{{ item.name }}</li>
            }
          </ul>

          <div class="price">
            <span class="old-price"
              >{{ data.originalPrice.toLocaleString() }}₫</span
            >
            <span class="new-price"
              >{{ data.finalPrice.toLocaleString() }} ₫</span
            >
          </div>
        </div>
      </div>
    </swiper-slide>
  }
</swiper-container>
