<button
  nz-popover
  (click)="togglePopover($event)"
  nzPopoverPlacement="topRight"
  [nzPopoverContent]="contentTemplate"
  class="!fixed bottom-[20px] right-[20px] animate-bounce z-50">
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg"
    alt="Chat Icon"
    class="!w-[70px] !h-[70px]" />
</button>

<ng-template #contentTemplate>
  <div
    class="!bg-[#FFEEEE] !text-[#333] !p-3 !rounded-md !mb-3 !font-semibold"
    [innerHTML]="'chatbox.title' | translate | safeHtml"></div>

  <div class="!bg-[#F0FFF0] !text-[#333] !p-3 !rounded-md !mb-4 !font-medium">
    {{ 'chatbox.description' | translate }}
  </div>

  <a
    href="https://wa.me/+84912883347?text=Xin%20ch%C3%A0o%2C%20t%C3%B4i%20mu%E1%BB%91n%20h%E1%BB%97%20tr%E1%BB%A3%20t%E1%BB%AB%20HappySmiles"
    target="_blank"
    class="!block !w-full !text-center !bg-[#0D9343] !text-white !py-2 !rounded-md !mb-2 !font-semibold !hover:bg-[#087532] !transition">
    WhatsApp (+84 912 88 33 47)
  </a>

  <button
    (click)="handleCallOrCopy('+84966788728')"
    class="cursor-pointer !block !w-full !text-center !bg-[#EE1C24] !text-white !py-2 !rounded-md !font-semibold !hover:bg-[#b8161b] !transition">
    {{ 'chatbox.or' | translate }} {{ 'chatbox.call' | translate }} (+84 966 788
    728)
  </button>
</ng-template>
