#chat-icon:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#chat-popup {
  border: 1px solid #ccc;
  font-family: Arial, sans-serif;
}

#chat-popup div {
  max-width: 80%;
  word-wrap: break-word;
}

#chat-icon img {
  pointer-events: none;
}
::ng-deep .ant-popover-inner {
  border-radius: 6px !important;
}
::ng-deep .ant-popover-inner-content {
  border-radius: 6px !important;
  border: 1px solid #ddf0ec;
  max-width: 280px;
  padding: 18px 15px;
}
