.private-group-tour {
  .breadcrumb {
    background-color: #f3f0f0;
    padding: 10px 10%;
    margin-bottom: 10px;
  }
  .section-private-group-tour {
    .private-group-tour-title {
      font-size: 24px;
      font-weight: 500;
      color: #ed1c24;
      margin-bottom: 20px;
    }
    .private-group-tour-content {
      font-size: 16px;
      line-height: 2;
      text-align: justify;
    }
    .private-group-tour-contact {
      .private-group-tour-contact-title {
        font-size: 24px;
        font-weight: 500;
        color: #ed1c24;
        margin-bottom: 20px;
        text-align: center;
      }
      .private-group-tour-contact-form {
        //display: grid;
        //grid-template-columns: 1fr 1fr;
        //gap: 10px;

        input,
        textarea,
        .ant-picker {
          border-radius: 4px;
          padding: 8px;
        }
        .full-width {
          grid-column: span 2;
        }
        .btn-submit {
          background: #ed1c24;
          padding: 10px 50px;
          border-radius: 6px;
          color: white;
          font-weight: bold;
          cursor: pointer;
        }
        .btn-reset {
          padding: 9px 40px;
          border-radius: 6px;
          color: black;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }
}
