<section class="private-group-tour">
  <nz-breadcrumb nzSeparator=">" class="breadcrumb">
    <nz-breadcrumb-item>
      <a routerLink="/">
        {{ 'menu.home' | translate }}
      </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item class="font-bold">
      {{ 'menu.private_group_tours' | translate }}
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  <!--  =====================================================-->
  <div class="section-private-group-tour">
    @for (data of dataPrivateTour; track data.id) {
      <div class="private-group-tour-title">
        {{ data.title }}
      </div>
      <div class="private-group-tour-content">
        {{ data.description }}
      </div>
    }
    <div class="private-group-tour-contact">
      <div class="private-group-tour-contact-title">
        {{ 'private_tour.contact_us' | translate }}
      </div>
      <form
        nz-form
        [formGroup]="validateForm"
        (ngSubmit)="submitForm()"
        class="private-group-tour-contact-form md:grid md:grid-cols-2 md:!px-[10%] xl:!px-[20%] gap-x-2">
        <!--     Tên-->
        <nz-form-item>
          <nz-form-label [nzSpan]="24" class="font-medium !text-[18px]">
            {{ 'tab_service.name' | translate }}
            <span class="text-red-500 !mx-2">*</span>
          </nz-form-label>
          <nz-form-control
            [nzValidateStatus]="validateForm.controls.name"
            [nzHasFeedback]="true"
            nzErrorTip="{{ 'private_tour.name_required' | translate }}">
            <input
              nz-input
              type="text"
              formControlName="name"
              placeholder="{{ 'tab_service.name' | translate }}" />
          </nz-form-control>
        </nz-form-item>
        <!--     Số điện thoại-->
        <nz-form-item>
          <nz-form-label [nzSpan]="24" class="font-medium !text-[18px]">
            {{ 'tab_service.phone' | translate }}
            <span class="text-red-500 !mx-2">*</span>
          </nz-form-label>
          <nz-form-control
            [nzValidateStatus]="validateForm.controls.phone"
            [nzHasFeedback]="true"
            nzErrorTip="{{ 'tab_service.phone_required' | translate }}">
            <input
              nz-input
              formControlName="phone"
              placeholder="{{ 'tab_service.phone' | translate }}" />
          </nz-form-control>
        </nz-form-item>
        <!--    Email-->
        <nz-form-item>
          <nz-form-label [nzSpan]="24" class="font-medium !text-[18px]">
            Email:
          </nz-form-label>
          <nz-form-control>
            <input
              nz-input
              type="email"
              formControlName="email"
              placeholder="Email" />
          </nz-form-control>
        </nz-form-item>
        <!--      Công ty-->
        <nz-form-item>
          <nz-form-label [nzSpan]="24" class="font-medium !text-[18px]">
            {{ 'tab_service.company' | translate }}:
          </nz-form-label>
          <nz-form-control>
            <input
              nz-input
              type="text"
              formControlName="company"
              placeholder="{{ 'tab_service.company' | translate }}" />
          </nz-form-control>
        </nz-form-item>

        <!--      Số người-->
        <nz-form-item>
          <nz-form-label [nzSpan]="24" class="font-medium !text-[18px]">
            {{ 'private_tour.people_count' | translate }}:
          </nz-form-label>
          <nz-form-control>
            <input
              nz-input
              type="text"
              formControlName="number_of_people"
              placeholder="{{ 'private_tour.people_count' | translate }}" />
          </nz-form-control>
        </nz-form-item>
        <!--      Thời gian dự kiến-->
        <nz-form-item>
          <nz-form-label [nzSpan]="24" class="font-medium !text-[18px]">
            {{ 'private_tour.estimated_time' | translate }}:
          </nz-form-label>
          <nz-form-control>
            <nz-date-picker
              formControlName="expected_date"
              nzPlaceHolder="{{ 'private_tour.estimated_time' | translate }}"
              class="w-full"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
        <!--      Ngân sách dự kiến-->
        <nz-form-item>
          <nz-form-label [nzSpan]="24" class="font-medium !text-[18px]">
            {{ 'private_tour.estimated_budget' | translate }}:
          </nz-form-label>
          <nz-form-control>
            <input
              nz-input
              type="text"
              formControlName="budget"
              placeholder="{{ 'private_tour.estimated_budget' | translate }}" />
          </nz-form-control>
        </nz-form-item>

        <!--     Địa điểm mong muốn-->
        <nz-form-item>
          <nz-form-label [nzSpan]="24" class="font-medium !text-[18px]">
            {{ 'private_tour.desired_destination' | translate }}:
          </nz-form-label>
          <nz-form-control>
            <input
              nz-input
              type="text"
              formControlName="location"
              placeholder="{{
                'private_tour.desired_destination' | translate
              }}" />
          </nz-form-control>
        </nz-form-item>
        <!--     Ghi chú-->
        <nz-form-item class="full-width">
          <nz-form-label [nzSpan]="24" class="font-medium !text-[18px]">
            {{ 'private_tour.note' | translate }}:
          </nz-form-label>
          <nz-form-control>
            <textarea
              rows="6"
              formControlName="message"
              nz-input
              placeholder="{{ 'private_tour.note' | translate }}"></textarea>
          </nz-form-control>
        </nz-form-item>
        <div class="text-right! col-span-2 space-x-4!">
          <button
            class="btn-reset border border-gray-300 text-gray-800 hover:bg-gray-100 font-medium py-2 px-4 rounded-md"
            (click)="resetForm($event)">
            {{ 'private_tour.cancel' | translate }}
          </button>
          <button class="btn-submit">
            {{ 'private_tour.submit' | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
