<section class="private-group-tour">
  <nz-breadcrumb nzSeparator=">" class="breadcrumb">
    <nz-breadcrumb-item>
      <a routerLink="/">
        {{ 'home' | trans: 'menu' }}
      </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item class="font-medium">
      {{ 'private_group_tours' | trans: 'tab_customer_tour' }}
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  <!--  =====================================================-->
  <div class="section-private-group-tour !pt-4 !px-[10%]">
    @for (data of dataPrivateTour; track data.id) {
      <div
        class="private-group-tour-title"
        [innerHTML]="sanitizeHtml(data.title)"></div>
      <div
        class="private-group-tour-content"
        [innerHTML]="sanitizeHtml(data.description)"></div>
    }
    <div class="private-group-tour-contact !py-10">
      <div class="private-group-tour-contact-title">
        {{ 'contact_us' | trans: 'tab_customer_tour' }}
      </div>
      <form
        nz-form
        [formGroup]="validateForm"
        (ngSubmit)="submitForm()"
        class="private-group-tour-contact-form !space-y-4 md:grid md:grid-cols-2 md:!px-[10%] xl:!px-[20%] gap-x-6">
        <!--     Tên-->
        <div>
          <nz-form-label [nzSpan]="24" class="font-medium !text-[18px]">
            {{ 'name' | trans: 'tab_customer_tour' }}
            <span class="text-red-500 !mx-2">*</span>
          </nz-form-label>
          <nz-form-control
            [nzValidateStatus]="validateForm.controls.name"
            [nzHasFeedback]="true"
            nzErrorTip="{{ 'name_required' | trans: 'tab_customer_tour' }}">
            <input
              nz-input
              type="text"
              formControlName="name"
              placeholder="{{ 'name' | trans: 'tab_customer_tour' }}" />
          </nz-form-control>
        </div>
        <!--     Số điện thoại-->
        <div>
          <nz-form-label [nzSpan]="24" class="font-medium !text-[18px]">
            {{ 'phone' | trans: 'tab_customer_tour' }}
            <span class="text-red-500 !mx-2">*</span>
          </nz-form-label>
          <nz-form-control
            [nzValidateStatus]="validateForm.controls.phone"
            [nzHasFeedback]="true"
            nzErrorTip="{{ 'phone_required' | trans: 'tab_customer_tour' }}">
            <input
              nz-input
              formControlName="phone"
              placeholder="{{ 'phone' | trans: 'tab_customer_tour' }}" />
          </nz-form-control>
        </div>
        <!--    Email-->
        <div>
          <nz-form-label [nzSpan]="24" class="font-medium !text-[18px]">
            Email
          </nz-form-label>
          <nz-form-control>
            <input
              nz-input
              type="email"
              formControlName="email"
              placeholder="Email" />
          </nz-form-control>
        </div>
        <!--      Công ty-->
        <div>
          <nz-form-label [nzSpan]="24" class="font-medium !text-[18px]">
            {{ 'company' | trans: 'tab_customer_tour' }}
          </nz-form-label>
          <nz-form-control>
            <input
              nz-input
              type="text"
              formControlName="company"
              placeholder="{{ 'company' | trans: 'tab_customer_tour' }}" />
          </nz-form-control>
        </div>

        <!--      Số người-->
        <div>
          <nz-form-label [nzSpan]="24" class="font-medium !text-[18px]">
            {{ 'people_count' | trans: 'tab_customer_tour' }}
          </nz-form-label>
          <nz-form-control>
            <input
              nz-input
              type="text"
              formControlName="number_of_people"
              placeholder="{{ 'people_count' | trans: 'tab_customer_tour' }}" />
          </nz-form-control>
        </div>
        <!--      Thời gian dự kiến-->
        <div>
          <nz-form-label [nzSpan]="24" class="font-medium !text-[18px]">
            {{ 'estimated_time' | trans: 'tab_customer_tour' }}
          </nz-form-label>
          <nz-form-control>
            <nz-date-picker
              formControlName="expected_date"
              nzPlaceHolder="{{
                'estimated_time' | trans: 'tab_customer_tour'
              }}"
              class="w-full"></nz-date-picker>
          </nz-form-control>
        </div>
        <!--      Ngân sách dự kiến-->
        <div>
          <nz-form-label [nzSpan]="24" class="font-medium !text-[18px]">
            {{ 'estimated_budget' | trans: 'tab_customer_tour' }}
          </nz-form-label>
          <nz-form-control>
            <input
              nz-input
              type="text"
              formControlName="budget"
              placeholder="{{
                'estimated_budget' | trans: 'tab_customer_tour'
              }}" />
          </nz-form-control>
        </div>

        <!--     Địa điểm mong muốn-->
        <div>
          <nz-form-label [nzSpan]="24" class="font-medium !text-[18px]">
            {{ 'desired_destination' | trans: 'tab_customer_tour' }}
          </nz-form-label>
          <nz-form-control>
            <input
              nz-input
              type="text"
              formControlName="location"
              placeholder="{{
                'desired_destination' | trans: 'tab_customer_tour'
              }}" />
          </nz-form-control>
        </div>
        <!--     Ghi chú-->
        <div class="col-span-2">
          <nz-form-label [nzSpan]="24" class="font-medium !text-[18px]">
            {{ 'note' | trans: 'tab_customer_tour' }}
          </nz-form-label>
          <nz-form-control>
            <textarea
              rows="6"
              formControlName="message"
              nz-input
              placeholder="{{
                'note' | trans: 'tab_customer_tour'
              }}"></textarea>
          </nz-form-control>
        </div>
        <div class="col-span-2 space-x-4! flex items-center justify-end">
          <button
            class="btn-reset border !bg-[#ed1c24] border-none !text-white font-medium !py-2 px-4 rounded-md"
            (click)="resetForm($event)">
            {{ 'cancel' | trans: 'tab_customer_tour' }}
          </button>
          <button
            class="btn-submit !bg-[#0B9444] border-none !text-white !capitalize">
            {{ 'submit' | trans: 'tab_customer_tour' }}
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
