@if (tourDetail) {
  <div class="sidebar-tour-foreign">
    <div class="space-y-2!">
      <div class="name-tour !font-bold">
        {{ tourDetail.title }}
      </div>
      <div class="price-tour space-y-1!">
        @if (tourDetail.finalPrice) {
          <div class="price-tour-label">
            {{ 'tour_card.price_from' | translate }}:
          </div>
          <div class="price-tour-value !font-bold">
            {{ tourDetail.finalPrice | number }} VNĐ
          </div>
        }
      </div>
    </div>
    <nz-divider></nz-divider>
    <div class="space-y-2!">
      <div class="departure-date">
        <fa-icon [icon]="faCalendarDays" class="icon-calendar"></fa-icon>
        <span>{{ 'tour_card.itinerary' | translate }}:</span>
        <div class="date font-medium">{{ tourDetail.stayDate }}</div>
      </div>
      <div class="departure-location truncate">
        <fa-icon [icon]="faLocationDot" class="icon-location"></fa-icon>
        <span>{{ 'tour_card.from' | translate }}:</span>
        <ul class="flex truncate gap-1">
          @for (
            data of tourDetail.startingPoints;
            track $index;
            let last = $last
          ) {
            <li class="font-medium">
              {{ data.name }}
              @if (!last) {
                <span>,</span>
              }
            </li>
          }
        </ul>
      </div>
    </div>
    <div class="text-center">
      <button class="btn-reserve" (click)="showModal()">
        <div class="btn-title">{{ 'tour_detail.booking' | translate }}</div>
        <div class="btn-subtitle">
          {{ 'tour_detail.not_yet_pay' | translate }}
        </div>
      </button>

      <form nz-form [formGroup]="validateForm" (ngSubmit)="handleCancel()">
        <nz-modal
          class="!rounded-xl"
          [nzWidth]="800"
          [(nzVisible)]="isVisible"
          nzCancelText="{{ 'tour_detail.cancel' | translate }}"
          nzTitle="{{ 'tour_detail.info_contact' | translate }}"
          nzOkText="{{ 'tour_detail.submit' | translate }}"
          (nzOnCancel)="handleCancel()"
          (nzOnOk)="handleOk()"
          [nzStyle]="{ top: '50px', height: '400px' }">
          <ng-container *nzModalContent>
            <div class="space-y-4! md:grid grid-cols-2 gap-x-5">
              <!-- ================= Tên khách hàng ================= -->
              <div>
                <nz-form-label [nzSpan]="24" class="font-medium !text-[18px]">
                  {{ 'tab_service.name' | translate }}
                  <span class="text-red-500 !mx-2">*</span>
                </nz-form-label>
                <nz-form-control
                  nzErrorTip="{{ 'private_tour.name_required' | translate }}">
                  <input
                    class="!rounded-lg py-2! px-4!"
                    nz-input
                    placeholder="{{ 'tour_detail.full_name' | translate }}"
                    formControlName="name" />
                </nz-form-control>
              </div>
              <!-- ================= Số điện thoại ================= -->
              <div>
                <nz-form-label [nzSpan]="24" class="font-medium !text-[18px]">
                  {{ 'tab_service.phone' | translate }}
                  <span class="text-red-500 !mx-2">*</span>
                </nz-form-label>
                <nz-form-control
                  nzErrorTip="{{ 'private_tour.phone_required' | translate }}">
                  <input
                    nz-input
                    type="number"
                    class="!rounded-lg py-2! px-4!"
                    placeholder="{{ 'tab_service.phone' | translate }}"
                    formControlName="phone" />
                </nz-form-control>
              </div>
              <!-- ================= Email ================= -->
              <div>
                <nz-form-label [nzSpan]="24" class="font-medium !text-[18px]">
                  Email
                </nz-form-label>
                <nz-form-control
                  nzErrorTip="{{ 'tab_service.email_valid' | translate }}">
                  <input
                    nz-input
                    type="email"
                    class="!rounded-lg py-2! px-4!"
                    placeholder="Email"
                    formControlName="email" />
                </nz-form-control>
              </div>
              <!-- ================= Số thành viên tham gia ================= -->
              <div>
                <nz-form-label [nzSpan]="24" class="font-medium !text-[18px]">
                  Số thành viên tham gia
                </nz-form-label>
                <nz-form-control
                  nzErrorTip="{{ 'private_tour.name_required' | translate }}">
                  <input
                    class="!rounded-lg py-2! px-4!"
                    nz-input
                    formControlName="number_of_people"
                    type="number"
                    placeholder="Số thành viên tham gia" />
                </nz-form-control>
              </div>
              <!-- ================= Công Ty ================= -->
              <div>
                <nz-form-label [nzSpan]="24" class="font-medium !text-[18px]">
                  Tên Công Ty (không bắt buộc)
                </nz-form-label>
                <nz-form-control>
                  <input
                    nz-input
                    class="!rounded-lg py-2! px-4!"
                    placeholder="{{ 'tour_detail.address' | translate }}"
                    formControlName="company" />
                </nz-form-control>
              </div>
              <!-- ================= Thời gian kiến ================= -->
              <div>
                <nz-form-label [nzSpan]="24" class="font-medium !text-[18px]">
                  Thời gian dự kiến (không bắt buộc)
                </nz-form-label>
                <nz-form-control>
                  <input
                    nz-input
                    class="!rounded-lg py-2! px-4!"
                    placeholder="{{ 'tour_detail.address' | translate }}"
                    formControlName="expected_date" />
                </nz-form-control>
              </div>
              <!-- ================= Ghi chú ================= -->
              <div class="col-span-2">
                <nz-form-label [nzSpan]="24" class="font-medium !text-[18px]">
                  {{ 'private_tour.note' | translate }}:
                </nz-form-label>
                <nz-form-control>
                  <textarea
                    rows="6"
                    formControlName="message"
                    nz-input
                    placeholder="{{
                      'private_tour.note' | translate
                    }}"></textarea>
                </nz-form-control>
              </div>
            </div>
          </ng-container>
        </nz-modal>
      </form>
    </div>
  </div>
}
