@if (tourDetail) {
  <div class="sidebar-tour-foreign">
    <div class="space-y-2!">
      <div class="name-tour !font-medium">
        {{ tourDetail.title }}
      </div>
      <div class="price-tour space-y-1!">
        @if (tourDetail.finalPrice) {
          <div class="price-tour-label">
            {{ 'price_from' | trans: 'tab_tour_detail' }}:
          </div>
          <div class="price-tour-value !font-medium">
            {{ tourDetail.finalPrice | number }} {{ tourDetail.currencyUnit }}
          </div>
        }
      </div>
    </div>
    <nz-divider></nz-divider>
    <div class="space-y-2!">
      <div class="departure-date">
        <fa-icon [icon]="faCalendarDays" class="icon-calendar"></fa-icon>
        <span>{{ 'itinerary' | trans: 'tab_tour_detail' }}: </span>
        <div class="date font-medium">{{ tourDetail.stayDate }}</div>
      </div>
      <div class="departure-location truncate">
        <fa-icon [icon]="faLocationDot" class="icon-location"></fa-icon>
        <span>{{ 'from' | trans: 'tab_tour_detail' }}: </span>
        <ul class="flex truncate gap-1">
          @for (
            data of tourDetail.startingPoints;
            track $index;
            let last = $last
          ) {
            <li class="font-medium">
              {{ data.name }}
              @if (!last) {
                <span>,</span>
              }
            </li>
          }
        </ul>
      </div>
    </div>
    <div class="text-center">
      <button class="btn-reserve" (click)="showModal()">
        <div class="btn-title">{{ 'booking' | trans: 'tab_tour_detail' }}:</div>
        <div class="btn-subtitle">
          {{ 'not_yet_pay' | trans: 'tab_tour_detail' }}:
        </div>
      </button>

      <form nz-form [formGroup]="validateForm" (ngSubmit)="handleCancel()">
        <nz-modal
          class="!rounded-xl"
          [nzWidth]="800"
          [(nzVisible)]="isVisible"
          nzCancelText="{{ 'cancel' | trans: 'tab_tour_detail' }}"
          nzTitle="{{ 'info_contact' | trans: 'tab_tour_detail' }}"
          nzOkText="{{ 'submit' | trans: 'tab_tour_detail' }}"
          (nzOnCancel)="handleCancel()"
          (nzOnOk)="handleOk()"
          [nzStyle]="{ top: '50px', height: '400px' }">
          <ng-container *nzModalContent>
            <div class="space-y-4! md:grid grid-cols-2 gap-x-5">
              <!-- ================= Tên khách hàng ================= -->
              <div>
                <nz-form-label [nzSpan]="24" class="font-medium !text-[18px]">
                  {{ 'full_name' | trans: 'tab_tour_detail' }}
                  <span class="text-red-500 !mx-2">*</span>
                </nz-form-label>
                <nz-form-control
                  nzErrorTip="{{
                    'validate_full_name' | trans: 'tab_tour_detail'
                  }}">
                  <input
                    class="!rounded-lg py-2! px-4!"
                    nz-input
                    placeholder=" {{ 'full_name' | trans: 'tab_tour_detail' }}"
                    formControlName="name" />
                </nz-form-control>
              </div>
              <!-- ================= Số điện thoại ================= -->
              <div>
                <nz-form-label [nzSpan]="24" class="font-medium !text-[18px]">
                  {{ 'phone' | trans: 'tab_tour_detail' }}
                  <span class="text-red-500 !mx-2">*</span>
                </nz-form-label>
                <nz-form-control
                  nzErrorTip="{{
                    'validate_phone' | trans: 'tab_tour_detail'
                  }}">
                  <input
                    nz-input
                    type="number"
                    class="!rounded-lg py-2! px-4!"
                    placeholder="{{ 'phone' | trans: 'tab_tour_detail' }}"
                    formControlName="phone" />
                </nz-form-control>
              </div>
              <!-- ================= Email ================= -->
              <div>
                <nz-form-label [nzSpan]="24" class="font-medium !text-[18px]">
                  Email
                </nz-form-label>
                <nz-form-control>
                  <input
                    nz-input
                    type="email"
                    class="!rounded-lg py-2! px-4!"
                    placeholder="Email"
                    formControlName="email" />
                </nz-form-control>
              </div>
              <!-- ================= Số thành viên tham gia ================= -->
              <div>
                <nz-form-label [nzSpan]="24" class="font-medium !text-[18px]">
                  {{ 'number_of_member' | trans: 'tab_tour_detail' }}
                </nz-form-label>
                <nz-form-control>
                  <input
                    class="!rounded-lg py-2! px-4!"
                    nz-input
                    formControlName="number_of_people"
                    type="number"
                    placeholder="{{
                      'number_of_member' | trans: 'tab_tour_detail'
                    }}" />
                </nz-form-control>
              </div>
              <!-- ================= Công Ty ================= -->
              <div>
                <nz-form-label [nzSpan]="24" class="font-medium !text-[18px]">
                  {{ 'company' | trans: 'tab_tour_detail' }}
                </nz-form-label>
                <nz-form-control>
                  <input
                    nz-input
                    class="!rounded-lg py-2! px-4!"
                    placeholder="{{ 'company' | trans: 'tab_tour_detail' }}"
                    formControlName="company" />
                </nz-form-control>
              </div>
              <!-- ================= Thời gian kiến ================= -->
              <div>
                <nz-form-label [nzSpan]="24" class="font-medium !text-[18px]">
                  {{ 'estimated_budget' | trans: 'tab_tour_detail' }}
                </nz-form-label>
                <nz-form-control>
                  <input
                    nz-input
                    class="!rounded-lg py-2! px-4!"
                    placeholder=" {{
                      'estimated_budget' | trans: 'tab_tour_detail'
                    }}"
                    formControlName="expected_date" />
                </nz-form-control>
              </div>
              <!-- ================= Ghi chú ================= -->
              <div class="col-span-2">
                <nz-form-label [nzSpan]="24" class="font-medium !text-[18px]">
                  {{ 'note' | trans: 'tab_tour_detail' }}
                </nz-form-label>
                <nz-form-control>
                  <textarea
                    rows="6"
                    formControlName="message"
                    nz-input
                    placeholder="{{
                      'note' | trans: 'tab_tour_detail'
                    }}"></textarea>
                </nz-form-control>
              </div>
            </div>
          </ng-container>
        </nz-modal>
      </form>
    </div>
  </div>
}
