.tab-trave-tour-detail {
  .breadcrumb {
    background-color: #f3f0f0;
    padding: 10px 10%;
    margin-bottom: 10px;
  }
  .trave-tour-detail {
    padding: 10px 10%;
    .trave-tour-detail-title {
      font-size: 22px;
      font-weight: bold;
    }
    .trave-tour-detail-content {
      font-size: 16px;
      line-height: 2;
    }
  }
}
