<section class="tab-tour-feature-domestic">
  <nz-breadcrumb nzSeparator=">" class="breadcrumb">
    <nz-breadcrumb-item>
      <a routerLink="/">Trang chủ</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item class="font-bold"> Tour trong nước </nz-breadcrumb-item>
  </nz-breadcrumb>
  <!--  /*======================================================================*/-->
  <div class="tab-tour-feature-domestic-main">
    <div class="sidebar-feature-domestic p-6!">
      <app-sidebar-feature-domestic
        (filtersChanged)="
          onFiltersChanged($event)
        "></app-sidebar-feature-domestic>
    </div>
    <div class="content-feature-domestic">
      <app-content-feature-domestic
        [filterParams]="filters"></app-content-feature-domestic>
    </div>
  </div>
</section>
