.tab-tour-feature-domestic {
  padding-bottom: 2%;
  .breadcrumb {
    background-color: #f3f0f0;
    padding: 10px 10%;
    margin-bottom: 10px;
  }
  .tab-tour-feature-domestic-main {
    padding: 0 10%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    .sidebar-feature-domestic {
      min-height: 500px !important;
      align-self: start;
      height: auto;
      background-color: #fafafa;
      box-shadow:
        rgba(0, 0, 0, 0.02) 0 1px 3px 0,
        rgba(27, 31, 35, 0.15) 0 0 0 1px;
      border-radius: 10px;
      transition: all 0.3s ease;
    }
    .content-feature-domestic {
    }
  }
}
@media screen and (min-width: 1025px) {
  .tab-tour-feature-domestic {
    .breadcrumb {
    }
    .tab-tour-feature-domestic-main {
      padding: 0 10%;
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 20px;
      .sidebar-feature-domestic {
      }
      .content-feature-domestic {
      }
    }
  }
}
