<div class="news-tour">
  <div class="news-left">
    @if (featureNews) {
      <div
        class="feature-news cursor-pointer truncate"
        (click)="goToDetail($event, featureNews)">
        <img
          [src]="formatImage(featureNews.image.storagePath)"
          alt=""
          class="w-full h-full object-cover bg-center bg-cover" />
        <div
          class="feature-news-title truncate uppercase !text-[var(--green-color)]">
          {{ featureNews.title }}
        </div>
        <div class="text-[#888]">
          {{ featureNews.modifiedDate | dateTimeFormat }}
        </div>
      </div>
    }
    <div class="normal-news">
      <div class="normal-news-cards">
        @for (data of featureLeftNews; track data.id) {
          <div
            class="normal-news-cards-item cursor-pointer truncate"
            (click)="goToDetail($event, data)">
            <div class="normal-news-cards-item-image">
              <img
                [src]="formatImage(data.image.storagePath)"
                alt=""
                class="w-full h-[120px] object-cover bg-center bg-cover" />
            </div>
            <div
              class="normal-news-cards-item-title truncate uppercase !text-[var(--green-color)]">
              {{ data.title }}
            </div>
            <div class="news-right-cards-item-date text-[#888]">
              {{ data.modifiedDate | dateTimeFormat }}
            </div>
          </div>
        }
      </div>
    </div>
  </div>
  <div class="news-right">
    <div class="news-right-cards cursor-pointer">
      @for (data of featureRightNews; track data.id) {
        <div class="news-right-cards-item" (click)="goToDetail($event, data)">
          <div class="news-right-cards-item-image">
            <img
              [src]="formatImage(data.image.storagePath)"
              alt=""
              class="w-full h-[120px] object-cover bg-center bg-cover" />
          </div>
          <div class="news-right-cards-item-info truncate">
            <div
              class="news-right-cards-item-info-title truncate uppercase !text-[var(--green-color)]">
              {{ data.title }}
            </div>
            <div class="news-right-cards-item-info-date text-[#888]">
              {{ data.modifiedDate | dateTimeFormat }}
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div>
