<nz-tabs nzType="card">
  <nz-tab nzTitle="Nội dung">
    <app-list-content></app-list-content>
  </nz-tab>

  <nz-tab nzTitle="Banner">
    <app-banner-config></app-banner-config>
  </nz-tab>

  <nz-tab nzTitle="Footer">
    <app-footer-config></app-footer-config>
  </nz-tab>

  <nz-tab nzTitle="Đối tác">
    <app-partner-config></app-partner-config>
  </nz-tab>

  <nz-tab nzTitle="Giới thiệu">
    <app-intro-config></app-intro-config>
  </nz-tab>

  <nz-tab nzTitle="Đánh giá khách hàng">
    <app-list-client-opinion></app-list-client-opinion>
  </nz-tab>
</nz-tabs>
