.background {
  width: 100%;
  height: 100%;
  background-color: #f2f3f5;
  display: flex;
  justify-content: center;
  align-items: center;

  .setting-modal {
    width: 440px;
    padding: 32px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);

    .title {
      font-size: 24px;
    }

    .label {
      font-weight: bold;
    }
  }
}
